[2016-01-24 13:40] phansys opened #771 "[RFC] Ensure only one commit by PR in order to keep the repo history clean"
In order to keep the repo history clean and readable, each PR should be restricted to just one fix or fixes related to the very same issue, without mixing concerns; and obviously the same should apply to new features.
During the lifecycle of code review, is OK to have many commits addressing comments, suggests, etc: but when the PR is ready to merge these commits should be squashed to a single one

[2016-01-30 19:23] KMVPrograms opened #774 "Failed to save the file with the filesize multiple of 4194304 bytes and larger then 33554432 bytes"
Hello. I have a file with size 75497472 bytes. I was trying to download file to azure blob storage by createBlockBlob function (master branch, file was sent like a file stream) and got next Exception:

`Code: 400
Value: The value for one of the HTTP headers is not in the correct format.
details (if any): ﻿<?xml version="1.0" encoding="utf-8"?><Error><Code>InvalidHeaderValue</Code><Message>The valu

[2016-02-01 22:43] prashanthmadi opened #776 "HTTP_Request2_ConnectionException in SocketWrapper.php"
When using Azure PHP SDK for service bus, with ACS connection string (doesn't work with SAS on PHP SDK......................) I have a very crtitical issue cince a few days :

HTTP_Request2_ConnectionException in SocketWrapper.php line 108:
Unable to connect to ssl://xxxxx.servicebus.windows.net:443. Error: stream_socket_client(): unable to connect to ssl://txxxxxx.servicebus.windows.net:443 (Unkn

[2016-02-05 10:09] dkarlovi commented on #733
This is a problem as SAS is a way for you to enable remote (Javascript) clients to write directly to the storage.

[2016-02-10 16:41] jancinert commented on #755
Thanks.

[2016-02-10 16:41] #755 closed

[2016-02-11 09:35] dkarlovi opened #777 "CORS management support is missing"
Currently there is not way to manage [CORS](http://blogs.msdn.com/b/windowsazurestorage/archive/2014/02/03/windows-azure-storage-introducing-cors.aspx)-related properties in (blob) service properties.

[2016-02-15 12:22] julesbl opened #778 "Problem when attemting to update a blob's properties"
Got this problem when trying to update a set of blobs properties

			$blob_list = $this->cdn->cdn->listBlobs("assets");
			$blobs = $blob_list->getBlobs();
			$options = new WindowsAzure\Blob\Models\CreateBlobOptions();
			foreach($blobs as $blob)
			{
				$mime_type = get_mime_by_extension($blob->getName());
				echo $blob->getName().": ".$blob->getUrl(). ' : '.$mime_type. "<br />";
				$options-

[2016-02-19 03:29] sketchthat commented on #743
+1 getting the same error.

My composer has all the following installed but I still receive;

[code]
[code]

[2016-02-19 08:37] tibahut commented on #743
Have you tried my fix ?

`"repositories": [
        {
            "type": "pear",
            "url": "http://pear.php.net",
            "vendor-alias": "pear-pear2.php.net"
        }
    ],
"require": {
     "pear-pear.php.net/HTTP_Request2": "*",
        "pear-pear.php.net/mail_mime": "*",
        "pear-pear.php.net/mail_mimedecode": "*",
        "microsoft/windowsazure": "0.4.1",
...`

[2016-03-03 09:01] konstantin-komelin opened #779 "PHP 5.3 compatibility issues"
Hi there,

**SDK Version:** 0.4.0

I've just got the following error:
[code]
I'm using PHP 5.3 but the code needs at least 5.4 because it uses short syntax for arrays which was introduced just in PHP 5.4 http://php.net/manual/en/migration54.new-features.php

I encourage you to update the README accordingly or test compatibility with PHP 5.3 and provide some fixes.
Also, please update the text "**Y

[2016-03-03 09:42] konstantin-komelin commented on #779
I'll tell you why I'm asking. I've just got the following error:
[code]
I'm using php 5.3 but your code needs at least 5.4 because it has short syntax for arrays which was introduced just in php 5.4 http://php.net/manual/en/migration54.new-features.php

I encourage you to update README accordingly or test compatibility with PHP 5.3 and provide some fixes.
Also, please update the text:
**You must h

[2016-03-03 15:26] konstantin-komelin commented on #779
Working on the pull request.

[2016-03-11 19:44] dczaretsky opened #781 "How to create table if it doesn't exist"
I must be missing something, but I'm having trouble creating a table if it doesn't exist. The documentation is pretty poor, but from what I can tell calling createTable() will throw an exception if the table already exists. My assumption was to do a getTable() and if it returns null, then create the table. However, calling getTable() when the table doesn't exist also throws an exception. It seems

[2016-03-11 19:48] dczaretsky commented on #781
FYI, here is the exception that is thrown when calling getTable():

WindowsAzure\Common\ServiceException: Fail: Code: 404 Value: Not Found details (if any): <?xml version="1.0" encoding="utf-8"?><error xmlns="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata"><code>ResourceNotFound</code><message xml:lang="en-US">The specified resource does not exist. RequestId:745094c9-0002-0009-0fce

[2016-03-11 20:06] yaqiyang commented on #781
That is the expected behavior when you call getTable. You can call queryTables() with a filter in the options parameter to check if the table exists, or just catch the exception from getTable(). If the exception is “resource does not exist”, the table does not exist.

Hope that helps.
Yaqi Yang

From: dczaretsky [mailto:notifications@github.com]
Sent: Friday, March 11, 2016 11:49 AM
To: Azure/azur

[2016-03-11 20:31] dczaretsky commented on #781
Thanks Yaqi. That's really not a very intuitive UI. There's a great deal of difference between errors and exceptions, the latter typically killing your application.  I spent 3 days trying to debug the API because of lack of documentation. Maybe consider rethinking how the API should return "not found" errors. Or provide some more intuitive helper functions that do the job for you.

To get around i

[2016-03-12 15:32] devigned commented on #778
Sorry you ran into this. We'll take a look at this.

[2016-03-12 15:35] devigned commented on #774
Thank you for the feedback. We'll take a look at the pull request.

[2016-03-12 15:37] devigned commented on #747
@yaqiyang & @YuvalMazor  we need to get this addressed as soon a possible.

[2016-03-12 15:38] devigned commented on #743
@yaqiyang and @YuvalMazor this is related to: https://github.com/Azure/azure-sdk-for-php/issues/747

[2016-03-12 15:39] devigned commented on #750
related to: #747

[2016-03-12 15:40] devigned commented on #719
related to #747

[2016-03-12 15:41] devigned commented on #738
@YuvalMazor please review this.

[2016-03-14 08:45] nowenL commented on #728
Hi, Jones & Rob

Thanks for the information. This bug was fixed months ago, I think that's why I can't repro it under the same scenario;
http://stackoverflow.com/questions/22419256/azure-block-blob-put-fails-when-using-https

[2016-03-15 17:07] yaqiyang commented on #781
getTable() returns GetTableResult which essentially is the name of the table. To have it return an error instead of throwing an exception is possible but will break the pattern of such functions. queryTable() should be used in such situations.

[2016-03-15 17:07] #781 closed

[2016-03-15 22:55] yaqiyang commented on #779
@konstantin-komelin, from the other thread, I have rejected your pull request to support 5.3. I am in the process of updating readme and other files to require PHP 5.4 and above, but under 7.0. Let me know if you have other questions.
Thanks for your contribution.
Yaqi Yang

[2016-03-15 22:55] #779 closed

[2016-03-15 23:58] YuvalMazor commented on #738
Hi @avinashseth.  I realize it's been a while since your comment and I'm sorry for the delay in responding.  We are going to be giving this project more attention going forward and would love to hear where you ran into problems with the azure php sdk.  Please feel free to ping me, @yaqiyang or @devigned and we will do our best to help you out and improve the experience.  Thanks.

[2016-03-16 21:03] yaqiyang commented on #778
Confirmed. CreateBlobOptions::getBlobContentLength() is not defined. Will include a fix in the upcoming release.

Yaqi

[2016-03-17 22:38] yaqiyang commented on #774
The PR has been accepted.

[2016-03-17 22:38] #774 closed

[2016-03-17 22:54] yaqiyang commented on #728
I cannot repro this issue.  Please re-open it if you can still reproduce it.

[2016-03-17 22:54] #728 closed

[2016-03-18 16:42] #778 closed

[2016-03-18 22:28] yaqiyang commented on #776
Do you still experience this issue?

Yaqi

[2016-03-18 22:30] yaqiyang commented on #771
Thanks for the suggestion. That is what we are trying to promote, too.

Yaqi

[2016-03-18 22:30] #771 closed

[2016-03-18 22:31] yaqiyang commented on #777
Thanks for the suggestion. I will evaluate it

yaqi

[2016-03-18 22:32] yaqiyang commented on #770
Thanks. We will try to keep them in sync

[2016-03-18 22:32] #770 closed

[2016-03-18 22:37] yaqiyang commented on #767
This should have been fixed. Please re-open this issue if not fixed.

Thanks
Yaqi

[2016-03-18 22:37] #767 closed

[2016-03-19 00:07] yaqiyang commented on #754
This has been fixed by https://github.com/Azure/azure-sdk-for-php/pull/787. Please verify it using the newest dev-master code. Re-open the issue if you still see problems.

thanks
Yaqi

[2016-03-19 00:07] #754 closed

[2016-03-19 00:09] yaqiyang commented on #753
It seems the problem has been resolved. Please re-open the issue if otherwise.

Thanks
Yaqi

[2016-03-19 00:09] #753 closed

[2016-03-19 00:28] yaqiyang commented on #746
That should be as expected. When an interface is said to be returned, it always means an object that implements that interface will be returned. Let me know if you don't agree.

Thanks
Yaqi

[2016-03-19 00:28] #746 closed

[2016-03-20 19:53] yaqiyang commented on #756
Null is being returned from the server when the type is string. As in http://azure.github.io/azure-sdk-for-java/com/microsoft/azure/storage/table/EdmType.html, null type will be matched to string. I will submit a PR to fix this in the coming days.

[2016-03-20 22:14] phansys commented on #700
This seems to be addressed at #747.

[2016-03-20 22:23] phansys commented on #747
@devigned, @yaqiyang, @YuzorMa; I can take a look at this if you first provide an open test suite for the package. Since I'm not a direct user of this library, I need a platform where the expected behavior can be checked within the current dependency (`pear/http_request2` & co.).

[2016-03-21 11:59] dkarlovi commented on #777
Hi @yaqiyang, thank you for your feedback, but I feel like the strategy of closing issues without a concrete action behind it might lead to a lot of issues being closed, but no progress made.

[2016-03-21 19:10] yaqiyang commented on #749
Adding / is still the current way of representing folders in Azure. Why do you need to have empty folders in a container?

[2016-03-21 19:13] yaqiyang commented on #744
@franckt , do you still experience this issue?

thanks
Yaqi

[2016-03-21 19:17] yaqiyang commented on #742
What exceptions are they? The problem could be related to the type of exceptions.

yaqi

[2016-03-21 19:20] yaqiyang commented on #740
@thorstenchristiansen , this has been fixed by https://github.com/Azure/azure-sdk-for-php/pull/757. Please let us know if you still see issues.

thanks
Yaqi

[2016-03-21 19:20] #740 closed

[2016-03-21 19:26] yaqiyang commented on #738
@avinashseth , the composer file has been fixed. If you have any problems or questions, please let us know.

Thanks
Yaqi

[2016-03-21 21:13] yaqiyang commented on #739
I just tried your code and it worked fine. Both the .txt and .jpg files were uploaded to Azure with no error. Please let me know if you still have this error.

Thanks
yhaqi

[2016-03-21 21:18] yaqiyang commented on #730
@agilbert201 , can you give me more context on this problem? do you have the same issue when you use anything else to ready the message content?

[2016-03-21 21:21] yaqiyang commented on #733
This could be fixed after we replace PEAR packages.

[2016-03-21 21:36] yaqiyang commented on #724
If you follow the current steps from readme.md, all packages will be installed correctly. Let me know if you still have issues there.

Thanks
yaqi

[2016-03-21 21:43] yaqiyang commented on #723
Can you be more specific? Media Services API has been added since then. Please let me know if that takes care of your concerns.
Thanks
yaqi

[2016-03-21 21:50] yaqiyang commented on #722
Do you still have this issue?

Thanks
Yaqi

[2016-03-21 21:51] yaqiyang commented on #721
Do you have this issue?

Thanks
Yaqi

[2016-03-21 21:52] yaqiyang commented on #719
This has been fixed. Please let me know if you have still issues here.

Thanks
Yaqi

[2016-03-21 21:56] yaqiyang commented on #714
It has been fixed by https://github.com/Azure/azure-sdk-for-php/commit/c9f6aeddb2c69fe11ced9d4f54461c5dcf5509ec

[2016-03-21 21:56] #714 closed

[2016-03-21 21:58] yaqiyang commented on #711
This has been fixed https://github.com/Azure/azure-sdk-for-php/pull/787

[2016-03-21 21:58] #711 closed

[2016-03-21 22:00] yaqiyang commented on #702
@shaunfangx , do you still experience this issue?

Thanks
Yaqi

[2016-03-21 22:08] #695 closed

[2016-03-21 22:15] yaqiyang commented on #680
@thaiphan, thanks for the good work. Our team will review it and decide if we will include in the next release.

Thanks
yaqi

[2016-03-21 22:17] yaqiyang commented on #679
GitHub now supplies https by default. Please re-open this if you still have issues.

Thanks
Yaqi

[2016-03-21 22:17] #679 closed

[2016-03-21 22:23] yaqiyang commented on #678
The error indicates you set the data type to Edm.String or it is null which defaults to string. Please verify it.

Thanks
Yaiq

[2016-03-21 22:25] yaqiyang commented on #676
@hvakees. This issue should have been resolved with the newest code. If not, please let us know.

Thanks
yaqi

[2016-03-21 22:28] yaqiyang commented on #666
@borrel , is this still an issue for you?

Thanks
Yaqi

[2016-03-21 22:30] yaqiyang commented on #664
This should have been fixed by https://github.com/Azure/azure-sdk-for-php/pull/787. Please re-open the issue if otherwise.

Thanks
Yaqi

[2016-03-21 22:30] #664 closed

[2016-03-21 22:32] yaqiyang commented on #655
@gcheng , is this still an issue for you? Is this anything we can implement in the PHP SDK?

Thanks
Yaqi

[2016-03-21 22:34] yaqiyang commented on #649
@jcookems , why should we exclude these headers? Will some users ever use them?

Thanks
Yaqi

[2016-03-21 22:36] yaqiyang commented on #648
@jcookems , I understand this has been a long time. Do you still have this issue unresolved?

Thanks
Yaqi

[2016-03-21 22:40] yaqiyang commented on #640
This example has been fixed. Please re-open it if you see other problems.

Thanks
yaqi

[2016-03-21 22:40] #640 closed

[2016-03-21 22:55] yaqiyang commented on #639
Issue has been resolved

[2016-03-21 22:55] #639 closed

[2016-03-21 23:01] agilbert201 commented on #730
It has been a while, and was for a client trying to integrate. I had them use a curl library instead and gave them stubs to go straight against the REST API.

I think the core issue was within the XML submitted to the queue the message content itself needs to be Base64 encoded (to avoid XML issues). And this wasn’t roundtripping properly.

Sorry can’t help more. As long as that “works” then it’s g

[2016-03-21 23:12] jcookems commented on #649
Because the non-custom properties are available as standard properties on the object. This is for parity with the Java SDK.

[2016-03-21 23:14] jcookems commented on #648
Give it a try and let me know

[2016-03-21 23:22] yaqiyang commented on #641
We have setFilter() methods in the following classes,
ServiceBus\Models\RuleDescription.php
ServiceBus\Models\RuleInfo.php
Table\Models\Query.php
Table\Models\QueryEntitiesOptions.php
Table\Models\QueryTablesOptions.php
Table\TableRestProxy.php

They all take filter as Filter type object, not strings. Can you let me know where we are taking filter as string?
Thanks
Yaqi

[2016-03-21 23:25] yaqiyang commented on #730
I am closing this issue unless we find more repros. Thanks a lot for using PHP Azure SDK.

Sincerely,
Yaqi

[2016-03-21 23:25] #730 closed

[2016-03-22 00:27] yaqiyang commented on #747
@phansys , thanks for your contribution to our project. There are two issues. The original proposal here is clearly to remove PEAR as a package manager which we are planning to do pretty soon. The second is to remove PEAR packages as dependencies which we are still evaluating. I am also working on the tests for the project, so I cannot provide you with a test suite just yet. If you have ideas on w

[2016-03-22 07:43] zaak commented on #749
@yaqiyang: Creating folders is one of the core features of our file manager application ([CKFinder](https://cksource.com/ckfinder/demo)). It works a similar way like regular OS file manager, so for example to copy a file to a folder, the folder must be present.

We already resolved this by adding `/` to the end of keys that should represent folders. I think we can close this issue.

[2016-03-22 07:43] #749 closed

[2016-03-22 11:25] yblondeau commented on #739
@yaqiyang Thanks for your tests.
I'll test it again on my side and let you know if the behavior is different now than what I saw last year...

[2016-03-22 18:03] yaqiyang commented on #648
I found a copy of the schema at http://grepcode.com/file/repo1.maven.org/maven2/org.plannerstack/sbproxy/1.2.0/schemas.microsoft.com.netservices.2010.10.servicebus.connect.xsd. LockDuration should be [0..1]. It is possible that ServiceBus did not validate your xml, but this should not be a bug in the PHP SDK.

yaqi

[2016-03-22 19:15] borrel commented on #666
@yaqiyang , no it is not.

I'm not using azure anymore.

thank you for your message

[2016-03-23 17:15] yaqiyang commented on #666
@borrel , sorry to hear that. Azure has been improved significantly since then and so does our SDK. Hope you can try again and let us know how we can help.

Sincerely,
Yaqi Yang

[2016-03-23 18:06] #756 closed

[2016-03-24 21:38] phansys commented on #747
@yaqiyang, sorry for the delay.
First of all, the cleanest replacement have place between `pear/http_request2` and [`guzzlehttp/guzzle`](http://docs.guzzlephp.org/en/latest/) (which is also [PSR-7](http://www.php-fig.org/psr/psr-7/) compliant).
About the others, I haven't formed a strong decision yet since I never used any of those dependencies, that's why I'm requiring a test suite.
BTW, I encour

[2016-03-25 21:12] yaqiyang commented on #699
@rdohms , is AUTHORITY_FORMAT supposed to be "grant_type=client_credentials&client_id={0}&client_secret={1}"? I could not find any documentation. Let me know if you have any ideas.

Thanks
yaqi

[2016-03-30 07:25] jamesryan83 commented on #777
I would like this feature too.  I need to load images from blob storage into a html canvas

[2016-04-01 11:17] adityosnrost opened #790 "Class not found"
Hi,

I'm new on Azure SDK for PHP. I am trying on the example. I cannot run Media Service example:   vodworkflow_drm_playready_widevine.php  . The error said:

Fatal error: Class 'WindowsAzure\MediaServices\Templates\TokenType' not found in . . .

I already follow all the guide on how to use SDK. My php included path are:
.:/usr/share/pear:/usr/share/php

Anyone can help me with this simple proble

[2016-04-01 15:58] yaqiyang commented on #790
@adityosnrost , I will be glad to help you. Currently those types are only available if you use composer to get the dev build of the WindowsAzure project

[2016-04-01 16:00] yaqiyang commented on #790
The composer entry should look like this,
"require": {
        "microsoft/windowsazure": "0.4-dev"
      },
After you got all dependencies, make sure folder vendor\microsoft\windowsazure\WindowsAzure\MediaServices\Templates exists. Also, you have to use PHP 5.5 and above for Media Services functions.

[2016-04-01 16:17] yaqiyang commented on #790
[phptests.zip](https://github.com/Azure/azure-sdk-for-php/files/199952/phptests.zip)
I attached a completed working sample for vodworkflow_drm_playready_widevine.php. Unzip the file, update the following lines in vodworkflow_drm_playready_widevine.php,

$account = "your account";
$secret = "your secret";

then execute,
php vodworkflow_drm_playready_widevine.php.

The video file will be uploaded an

[2016-04-01 22:30] yaqiyang commented on #776
Please reopen the issue if you get this problem again.

Thanks
Yaqi

[2016-04-01 22:30] #776 closed

[2016-04-01 22:31] yaqiyang commented on #744
Please reopen the issue if you get this problem again.

Thanks
Yaqi

[2016-04-01 22:31] #744 closed

[2016-04-01 22:31] yaqiyang commented on #742
Please reopen the issue if you get this problem again.

Thanks
Yaqi

[2016-04-01 22:31] #742 closed

[2016-04-01 22:31] yaqiyang commented on #739
Please reopen the issue if you get this problem again.

Thanks
Yaqi

[2016-04-01 22:31] #739 closed

[2016-04-01 22:32] yaqiyang commented on #738
Please reopen the issue if you get this problem again.

Thanks
Yaqi

[2016-04-01 22:32] #738 closed

[2016-04-01 22:32] yaqiyang commented on #724
Please reopen the issue if you get this problem again.

Thanks
Yaqi

[2016-04-01 22:32] #724 closed

[2016-04-01 22:34] yaqiyang commented on #721
You might not have the correct connection string in the .cscfg file. Please re-open the issue if it is not resolved.

Thanks
Yaqi

[2016-04-01 22:34] #721 closed

[2016-04-01 22:34] yaqiyang commented on #719
Please reopen the issue if you get this problem again.

Thanks
Yaqi

[2016-04-01 22:34] #719 closed

[2016-04-01 22:35] yaqiyang commented on #723
Please reopen the issue if you get this problem again.

Thanks
Yaqi

[2016-04-01 22:35] #723 closed

[2016-04-01 22:35] yaqiyang commented on #722
Please reopen the issue if you get this problem again.

Thanks
Yaqi

[2016-04-01 22:35] #722 closed

[2016-04-01 22:35] yaqiyang commented on #702
Please reopen the issue if you get this problem again.

Thanks
Yaqi

[2016-04-01 22:35] #702 closed

[2016-04-01 22:36] yaqiyang commented on #678
Please reopen the issue if you get this problem again.

Thanks
Yaqi

[2016-04-01 22:36] #678 closed

[2016-04-01 22:36] yaqiyang commented on #676
Please reopen the issue if you get this problem again.

Thanks
Yaqi

[2016-04-01 22:36] #676 closed

[2016-04-01 22:36] yaqiyang commented on #666
Please reopen the issue if you get this problem again.

Thanks
Yaqi

[2016-04-01 22:36] #666 closed

[2016-04-01 22:37] yaqiyang commented on #655
Please reopen the issue if you get this problem again.

Thanks
Yaqi

[2016-04-01 22:37] #655 closed

[2016-04-01 22:37] yaqiyang commented on #648
Please reopen the issue if you get this problem again.

Thanks
Yaqi

[2016-04-01 22:37] #648 closed

[2016-04-01 22:37] yaqiyang commented on #641
Please reopen the issue if you get this problem again.

Thanks
Yaqi

[2016-04-01 22:37] #641 closed

[2016-04-02 04:51] adityosnrost commented on #790
Hi @yaqiyang ,
Thanks a lot with your reply. So, any WindowsAzure SDK or packages on pear folder cannot be use yet ? And I need to use all WindowsAzure packages from composer ?

So if I must redo it from the start, is this the order :

1. Clone the Git
2. Install HTTP_Request2, Mail_mime, and Mail_mimeDecode PEAR packages
3. Got all dependencies installed from composer for WindowsAzure SDK.
4. The

[2016-04-02 09:57] rdohms commented on #699
I have absolutely no clue what this was meant to be. I was just doing some static analysis and that came out as obvious, also 2 years ago, that is way too long to reply to anything and expect me to remember :P

[2016-04-02 22:19] phansys opened #793 "[RFC] Adopt PSR-2 as basic coding standard"
This is a RFC created to propose and debate about [PSR-2](http://www.php-fig.org/psr/psr-2/) as coding standard base.

[2016-04-02 23:05] rubenmachuca opened #795 "bancos en mexico"
como puedo hacer una transferencia directa de pagos de siriana mexico a mi banco banamex

[2016-04-04 15:31] yaqiyang commented on #790
yes, use the packages from composer. We are moving away from the PEAR package manager. If you use the zip file I sent, you will already have all the dependencies and packages needed to run the sample. If you don't use it, just get the composer.phar and composer.json files out of it, run "php composer.phar install". It will install everything including the WindowsAzure SDK and all other packages. B

[2016-04-04 15:34] #795 closed

[2016-04-04 15:38] yaqiyang commented on #793
Thanks for this info. I will take a look and also review your PR.

Yaqi

[2016-04-04 15:57] yaqiyang opened #797 "Removal of PEAR packages such as http_request2"
I am opening a new issue to track this since we are hearing many request to replace PEAR package by alternatives such as Guzzle.

[2016-04-04 15:59] yaqiyang commented on #747
I have removed PEAR as package manager by https://github.com/Azure/azure-sdk-for-php/pull/792. Opened a new issue https://github.com/Azure/azure-sdk-for-php/issues/797 to find replacements for PEAR packages.

Thanks
Yaqi

[2016-04-04 15:59] #747 closed

[2016-04-04 16:01] yaqiyang commented on #797
This is related to https://github.com/Azure/azure-sdk-for-php/issues/747, and also should take care of https://github.com/Azure/azure-sdk-for-php/issues/758, and maybe https://github.com/Azure/azure-sdk-for-php/issues/733

[2016-04-04 22:41] SteveAATW commented on #733
I've hit the same issue trying to use service bus queues via the PHP SDK. ACS strings are no longer generated in the Azure portal and although I've found a few referenced articles mentioning that new SB queues can be created with ACS connection strings via Azure Powershell I hit a dead end trying to accomplish this.

[2016-04-04 23:16] yaqiyang commented on #733
Yes, you need to do this in PowerShell for the present time.
Make sure you have Azure PowerShell installed, then in a PowerShell command prompt, run
Add-AzureAccount # this will sign you in
New-AzureSBNamespace -CreateACSNamespace $true -Name ‘mytestbusname' -Location ‘West US’ -NamespaceType 'Messaging'

[2016-04-05 15:52] lukos opened #798 "Container name with incorrect <space> causes Mac Validation error"
I incorrectly tried to call listBlobs with a container name that had a space in it "uploaded files" instead of "uploadedfiles", which is an illegal name. I would have expected a straight-forward exception to be thrown but instead, was shown the dreaded: **The MAC signature found in the HTTP request ... is not the same as any computed signature.**

This took me hours to fix because it looked like a

[2016-04-06 22:53] #699 closed

[2016-04-06 22:54] yaqiyang commented on #790
@adityosnrost , is your problem resolved? Please close the issue if it is resolved.

Thanks
Yaqi

[2016-04-07 09:25] adityosnrost commented on #790
Hi @yaqiyang

Sorry for my late reply. I was away for a couple days. I've tested it and it works like a charm :D. Thanks for your help, it was awesome. Btw, I had little question about .mp4 file. after I've finished upload, it show error like this:
The job has finished with a wrong status: Error
But not with wmv file, any idea about that ? Thanks once again :)

[2016-04-07 09:26] #790 closed

[2016-04-07 16:50] yaqiyang commented on #790
For the .mp4 file issue, I did try a small .mp4 file I downloaded from YouTube, and it worked well. Can you try a different mp4 file?
The first time I ran it, I did get the same error message ( "The job has finished with a wrong status: Error" ), but I when I looked up, I found "file_get_contents(test,mp4)" in the message. Basically, I had the wrong file name ( test,mp4, instead of test.mp4).
----

[2016-04-07 16:52] yaqiyang commented on #790
For the .mp4 file issue, I did try a small .mp4 file I downloaded from YouTube, and it worked well. Can you try a different mp4 file?

The first time I ran it, I did get the same error message ( "The job has finished with a wrong status: Error" ), but I when I looked up, I found "file_get_contents(test,mp4)" in the message. Basically, I had the wrong file name ( test,mp4, instead of test.mp4).

--

[2016-04-08 00:32] yaqiyang commented on #743
This has been fixed

[2016-04-08 00:32] #743 closed

[2016-04-08 07:39] adityosnrost commented on #790
@yaqiyang

Thanks for your reply.  I rechecked my code and I finally got it why my process was error. It was a full path on $mezzanineFileName. like this: $mezzanineFileName = "/home/user/video/test.mp4";
It cannot be done on encoding process.

it should be only the name of the file and the path should be inside file_get_contents("/home/user/video/" . $mezzanineFileName)

Thank you for reminding m

[2016-04-08 11:25] atrauzzi commented on #797
Be sure to use the current version of guzzle.

[2016-04-08 18:23] Sazpaimon opened #808 "Package not being updated on Packagist"
The last commit of dev-master for `microsoft/windowsazure` on Packagist is from `2016-03-17 00:04 UTC`. Is it possible that the commit hooks aren't working anymore?

[2016-04-08 20:03] devigned commented on #808
I think we should be good now. Check out the version: https://packagist.org/packages/microsoft/windowsazure#dev-master.

[2016-04-08 20:35] phansys commented on #808
Excellent: `dev-master / 0.4.x-dev 2016-04-08 00:29 UTC`.

[2016-04-11 22:01] yaqiyang commented on #808
@Sazpaimon , can you close if it does not happen anymore?

Thanks
yaqi

[2016-04-11 22:12] Sazpaimon commented on #808
Yep, looks like it's working now. Thanks!

[2016-04-11 22:12] #808 closed

[2016-04-11 23:34] babatundeOS opened #812 "How to get Container and Blob Properties and size"
how can I get the properties of a container? Eg size, date created, modified etc.
Any way out on this?

[2016-04-12 01:03] yaqiyang commented on #812
Here is some sample code to get container properties. At the time, we are not getting back all properties,

    $blobRestProxy = ServicesBuilder::getInstance()->createBlobService($connectionString);
    $containerlist = $blobRestProxy->listContainers();
    $containers = $containerlist->getcontainers();

    echo "<h2>Existing Containers:</h2>";
    echo "<table>";
    echo "<tr><th>Name</th>";

[2016-04-12 01:12] babatundeOS commented on #812
Hi @yaqiyang

Thanks for your response. Can I get the size of the container? The most important property for me now is the size of each container, folder, blob.

Thanks

[2016-04-12 02:32] phansys opened #813 "[RFC] Remove `build` dir + add dev dependencies for configured tools"
With this issue I'm proposing to remove the `build` directory, which currently ships scripts that aren't required anymore (`src_autoload.php.in`, `tests_autoload.php.in`).
Configuration files such as `phpcs.xml` and `phpmd.xml` should be moved to the root directory and dev requirements should be added to `composer.json` in order to integrate the tools capable to use these files (I guess they are P

[2016-04-12 05:04] yaqiyang commented on #812
I think the size is calculated. If you go to https://msdn.microsoft.com/en-us/library/azure/dd179370.aspx, you can see all container properties. Size is not one of the container properties.

[2016-04-12 13:04] babatundeOS commented on #812
First, I tried the example given in that link but didnt work.
Second, since size is not one of container properties, is there another way to get the **size**? This is really important for what I'm working on.

Thanks @yaqiyang

[2016-04-12 16:09] phansys opened #815 "[RFC] Remove `deprecated` dir and handle deprecations through versions instead locations"
Deprecations and code removal should be done in a clearer way, advising about the removal in previous versions via `trigger_error('Deprecation message', E_USER_DEPRECATED)` and `@deprecated` docblocks, removing the code in the corresponding version.
Moving code to another location (such as [`deprecated`](https://github.com/Azure/azure-sdk-for-php/tree/1f73f6cbedd367a88dd81dab639acb275b21f742/depre

[2016-04-12 18:15] yaqiyang commented on #815
The files in the deprecated folder is for PEAR package manager. It is not part of the source code. I will just remove that folder after release 0.4.2 is out.

[2016-04-12 18:28] yaqiyang commented on #750
Fixed by new version .4.2

[2016-04-12 18:28] #750 closed

[2016-04-12 18:33] yaqiyang commented on #813
Why do you want to remove my release_tools.php?

[2016-04-12 19:00] phansys commented on #813
IMO, that file don't seems to be part of this project: It is a scaffolder-like script to patch files of this library. BTW, I can revert the remove and place it under project's root if you have some concerns about it.

[2016-04-12 19:06] yaqiyang commented on #813
It is a just build utility. I think it should be under build

[2016-04-12 19:07] yaqiyang commented on #815
This should be closed. I have submitted the PR

[2016-04-12 19:07] #815 closed

[2016-04-12 19:14] phansys commented on #813
It will be left alone since the other files were moved, but the discussion for it can be done later. I haven't strong concerns about it at this time.

[2016-04-12 20:25] yaqiyang commented on #812
You need to aggregate all blobs in the container, see http://stackoverflow.com/questions/14376459/azure-storage-container-size. There is no API for that yet, as far as I know

[2016-04-13 01:16] babatundeOS commented on #812
The example there is for `C#`. I dont seem to find any reference to where or how to do this with ***`php`***. Is it possible with *php*?

[2016-04-13 02:15] yaqiyang commented on #812
Yes, it is a C# example. All SDK languages wrap the same REST API on Azure. Basically it shows the size property does not exist and can only be obtained by listing all blobs in the container and then sum them up. Hope this helps.

[2016-04-13 02:30] babatundeOS commented on #812
@yaqiyang  I understand what the C# example does; summing up all blobs sizes in a container. The problem here is that I cant find the equivalent of getting blobs sizes in azure sdk for php.
`size += blob.Properties.Length;` - what's the equivalent to that in php?

I tried to iterate through `$blob->getProperties()` but it's empty. Nothing is returned.

Also tried `filesize($blob->getUrl())` but ga

[2016-04-13 03:10] yaqiyang commented on #812
$props = $blob->getProperties();
$size = $props->getContentLength();

If this does not work, I will try to get some working code tomorrow.

[2016-04-13 03:19] babatundeOS commented on #812
@yaqiyang No, it doesn't work. I'd be expecting your working code.

Thanks.

[2016-04-13 15:20] yaqiyang commented on #812
try this,

    //blob tests
    $blobRestProxy = ServicesBuilder::getInstance()->createBlobService($connectionString);
    $testcontainername = 'phpcontainer1';

    echo "<h2>Existing Blobs:</h2>";
    echo "<table>";
    echo "<tr><th>Name</th>";
    echo "<th>Last Modified</th>";
    echo "<th>Size</th>";
    echo "</tr>";

    try
    {
        $blob_list = $blobRestProxy->listBlobs($testconta

[2016-04-14 01:44] babatundeOS commented on #812
Great! This works. Thanks a lot @yaqiyang

[2016-04-14 02:05] #812 closed

[2016-04-14 14:11] adityosnrost opened #819 "MPE_ENC_ENCRYPTION_REQUIRED"
Hi,

I would like to ask you about playing ism file after successfully upload video to azure media service. Why I cannot play it ? this is the error:

`<?xml version="1.0" encoding="UTF-8"?>

-<serverError>

<status>403</status>

<subStatus>0</subStatus>

<hresult>MPE_ENC_ENCRYPTION_REQUIRED</hresult>

<activityId>80003ADA-0000-FB00-B63F-84710C7967BB</activityId>

<serviceId>1B41F4FC-2747-03C0-37B

[2016-04-14 17:15] yaqiyang commented on #819
Where are you trying to play it from? What OS?

[2016-04-15 00:01] adityosnrost commented on #819
Hi @yaqiyang ,

I'm trying to play it directly on EGDE browser. I am using Windows 10 Pro. EGDE has direct ism player, I can play some ism file on it with other URL.

Thank You

[2016-04-15 00:50] yaqiyang commented on #819
https://azure.microsoft.com/en-us/documentation/articles/media-services-encode-asset/
It does not seem ISM is supported. I am not familiar with streaming, but I don't think you can play it directly from your browser. When your encoding is done, you get some access keys. You will need to use them somehow to access the content, not directly from the browser.

[2016-04-21 05:46] nowenL opened #821 "PUBLIC NOTICE: Repository and package changes"
To better serve our user community with support for newer service features, the Azure Storage team is working on moving the Storage APIs within azure-sdk-for-php into a [new repository](https://github.com/Azure/azure-storage-php).

The first release [v0.10.0](https://github.com/Azure/azure-storage-php/releases/tag/v0.10.0) is available now and includes changes to replace all Pear dependencies with

[2016-04-21 11:54] adityosnrost commented on #819
@yaqiyang ,

Sorry for my late reply, I was working on other issue. I know why I cannot play it, because it is AES encrypted haha, I forgot that I need to use AES also on my media player.

I would like to know if I want to store audio file using same file, what presets that I should use ?
Video = H264 Multiple Bitrate 720p
Audio = ?

Thanks

[2016-04-21 11:54] #819 closed

[2016-04-21 23:30] Sazpaimon commented on #821
Thank you thank you thank you!

[2016-04-26 04:13] thecyman opened #822 "Support append operation"
Hi there,

Would be great to get support for the append operation. I see it's not yet supported.

Thanks!

[2016-04-26 12:14] michaelarnauts opened #823 "Can't receive messages from the Service Bus that contain a CorrelationId"
I guess this is the same issue as https://github.com/Azure/azure-sdk-for-python/issues/493, and that there is an issue on the Server side of the Service Bus.

I have the following message in my queue. The Service Bus Explorer reads it fine, but the PHP SDK gives the following error:

`<Error><Code>500</Code><Detail>The server was unable to process the request; please retry the operation. If the pr

[2016-04-26 13:08] michaelarnauts commented on #823
Okay, it seems to be related to the Message Properties. As soon as there is a property with a key that contains a `:` or a `/` (quite crucial for urls), the 500 internal server error is thrown. This is probably due to the fact that the messages are converted to `key: value` pairs, and the colon and slash aren't properly escaped in the Service Bus code.

[2016-04-26 13:16] michaelarnauts commented on #823
I've raised the question on the Service Bus forums in the hope a Microsoft dev sees it: https://social.msdn.microsoft.com/Forums/azure/en-US/7f789dc5-1172-4432-9629-20220f434746/bug-rest-api-throws-500-internal-server-error-when-a-message-contains-a-message-property-with-a?forum=servbus

[2016-04-26 15:25] yaqiyang commented on #822
It will be included in the new storage SDK. See https://github.com/Azure/azure-sdk-for-php/issues/821

Yaqi

[2016-04-26 15:55] yaqiyang commented on #823
@michaelarnauts, are you using property names with ":" or "/"? Property values support ":" or "/", but names don't.

Yaqi

[2016-04-27 07:38] michaelarnauts commented on #823
@yaqiyang that's what I expected, but Dynamics CRM uses URL's as key's. This is working fine with the C# api, but not with the REST API, since they map the properties to HTTP headers in a `key: value` type without encoding the `key` somehow. If `:` and `/` are not allowed, the Service Bus should not allow the message.

[code]

[2016-04-27 15:44] yaqiyang commented on #823
In that case, it should work if you call urlencode() on the property name before passing it to the API calls.

[2016-04-27 19:28] michaelarnauts commented on #823
Shouldn't the Service Bus Web API do that before putting the properties in a HTTP header?

[2016-04-27 23:13] yaqiyang commented on #823
You can try the Pull Request I created (https://github.com/Azure/azure-sdk-for-php/pull/824) and see if it fixes your issue.

Yaqi

[2016-04-28 18:57] michaelarnauts commented on #823
@yaqiyang this won't fix my problem (but it could fix someone elses problem if he tries to send those messages to the Service Bus).

Dynamics CRM (what uses the C# api) is putting the messages in the service bus, not this SDK. The message is already un-urlencoded there. The Web API should urlencode it before sending it to me.

[2016-04-28 22:19] yaqiyang commented on #823
Where does the error occur in PHP? Can you give me a call stack?

[2016-04-29 16:02] adityosnrost opened #825 "Encoding consumes more time than uploading"
Hi,

I'm using php sdk to upload a video into my azure media service. I would like to know why encoding consumes more time than uploading ?

Upload consumes 1 - 3 seconds for 3 mb video.

Encoding consumes  1 and half minute for 3 mb video.

Thanks

[2016-04-29 21:28] yaqiyang commented on #825
The encoded file usually is much larger than the original. Apparently there is a lot of work there.

[2016-04-30 22:23] olsgreen opened #826 "Storage API Issue"
I've bee trying to upload to a container and constantly receiving:

    ServiceException {#298
      -_error: "The value for one of the HTTP headers is not in the correct format."
      -_reason: ""
      #message: """
        Fail:\n
        Code: 400\n
        Value: The value for one of the HTTP headers is not in the correct format.\n
        details (if any): .
        """
      #code: 400

[2016-05-02 15:44] yaqiyang commented on #826
yes, the SDK here is using an older version of the API. The storage API has been replaced by https://github.com/Azure/azure-storage-php which is using the newest version.

yaqi

[2016-05-02 15:48] yaqiyang commented on #822
@thecyman , can I close this issue?

Thanks
Yaqi

[2016-05-02 19:16] yaqiyang commented on #823
I did more research on this issue. It seems the PHP SDK does not support sb:// endpoints for service bus which is the way to send/receive custom properties embedded with special characters. So there is no easy solution at this time.

[2016-05-03 10:52] olsgreen commented on #826
Righy ho... I shall migrate. Thanks.

[2016-05-03 10:52] #826 closed

[2016-05-03 14:42] yaqiyang commented on #826
I just submitted a PR to replace the current storage API with the new Storage SDK. That should fix your issue.

yaqi

[2016-05-03 18:58] boredom2 opened #829 "Support missing MediaServices Functionalities"
The Support of MediaServices Functionalities is already quite good, nearly everything is supported, which I really appreciate, because we use all of it very often.
Whats still missing is from my perspective 2 functions:
- manage Streaming Units (like Encoding Units)
- manage Filters (global and file-based)

Both functions follow common mechanisms mostly, would be great to see that also included.

[2016-05-03 22:51] yaqiyang commented on #825
@adityosnrost , can you close this issue? It does not seem to be an issue with the SDK.

Thanks
Yaqi

[2016-05-03 22:52] #822 closed

[2016-05-04 00:25] adityosnrost commented on #825
@yaqiyang , thanks for your help, sorry for late reply hehe.

[2016-05-04 00:25] #825 closed

[2016-05-04 16:22] yaqiyang commented on #793
@phansys , can you close this issue?
Thanks
Yaqi

[2016-05-04 16:25] phansys commented on #793
Closing this since #794 is merged. `php-cs-fixer` must be configured at CI suite in order to ensure proper CS.

[2016-05-04 16:25] #793 closed

[2016-05-05 17:07] boredom2 opened #835 "MediaServices getAssetList() for large Asset Collections"
We have MediaServices Accounts with a few thousand active Assets - the current "getAssetList" function is not sufficient for this amount of assets.
To overcome this issue, we modified the function with a "skip" parameter:

[code]

This is probably not the most elegant version, but its working without any problems.
Maybe you can add a functionality like this for really large Asset Lists.

[2016-05-05 22:56] yaqiyang commented on #835
Good idea. I will take a look when I get a chance. If you want to submit a PR, that will be good, too.

[2016-05-06 19:58] yaqiyang commented on #835
@boredom2 , please take a look at PR https://github.com/Azure/azure-sdk-for-php/pull/836.

Thanks
Yaqi

[2016-05-06 20:32] boredom2 commented on #835
That looks indeed good and far better than the original proposal. Thanks a lot for that quick fix!

[2016-05-07 19:31] phansys opened #837 "[question] How to get instance size from service management"
Given the following example, the instance sizes are always returning `null`:
[code]
How can I get the instance sizes from service management? I need at least `memoryInMB` and `numberOfCores` properties.
Thank you in advance.

[2016-05-09 10:08] fbm-static commented on #747
All these +1s and nobody bothered to said thanks when it has been done.

[2016-05-09 16:47] yaqiyang commented on #837
I ran a simple test and getInstanceSize() returned a string "Small" which is the same as the value on the Azure Portal. See the following,
![image](https://cloud.githubusercontent.com/assets/14302929/15120524/fed7c212-15ca-11e6-8263-816b86b64ea5.png)

[2016-05-09 16:52] yaqiyang commented on #837
In this case, "Small" is 1792 MB. See the configuration in Visual Studio where I created this WebRole,
![image](https://cloud.githubusercontent.com/assets/14302929/15120675/adab5998-15cb-11e6-9bbc-6d3b579cd96c.png)

[2016-05-09 19:01] phansys commented on #837
@yaqiyang, by instance, I can see "Basic A0 (0.25 Cores, 0.75 GB memory)" as size at Azure Portal; but the SDK is returning `null` for that value as I mentioned before. Can you please check this situation directly with the SDK and the snippet I've provided?
Moreover, I need to access `memoryInMB` and `numberOfCores` properties. Could you please tell me how to access these values with the current S

[2016-05-09 20:12] yaqiyang commented on #835
The PR has been merged. Please close this issue if it works for you. Thanks a lot for your contribution!

Yaqi

[2016-05-09 21:43] yaqiyang commented on #837
Did more tests. It seems $hostedService->getDeployments() does not return anything. You have to use the following code to get a valid reference to deployment
[code]

[2016-05-09 21:58] yaqiyang commented on #837
Plus, I don't see any way to get the number of cores and VM size in MB. The VM size is probably defined in some templates. You have map the enum (such as Small) to the corresponding true size (# core, MB) in the deployment templates.

[2016-05-10 02:02] phansys commented on #837
Thanks for the feedback @yaqiyang. I've talked with the person who is working directly with this feature at my team and he told me that the check you proposed was already done with the same result. He has some suspicions about the issue, so I'll ask him to contact you tomorrow.

Thank you again.

/cc @ppicatto

[2016-05-10 06:59] michaelarnauts commented on #823
We made a workaround by creating a C# middleware that reads out the service bus and sends it encoded in a json to a callback url that we handle with PHP.

[2016-05-10 13:35] ppicatto commented on #837
Hi @yaqiyang as @phansys says i think that the problem is in the SDK because I have dumped `$parsed` parameter from `Role::create($parsed)` and it gives me `"RoleSize" => "Basic_A0"` and i have seen that `Role.php` have only 2 methods `getRoleName` and `getOsVersion` but I have seen a method `RoleInstance::getInstanceSize()` that I believe should have the value returned in `RoleSize`. I do not kno

[2016-05-10 14:49] yaqiyang commented on #837
Can you give me exact steps to re-create this role? I cannot reproduce the problem with the WebRole I created.

[2016-05-10 18:31] ppicatto commented on #837
There were some classes that we had overwritten in our code, so i decided to try to get the data directly from SDK but i get a null value in the following `var_dump`:
[code]

[2016-05-10 19:03] yaqiyang commented on #837
If I replace your code $lhs = $sb->listHostedServices(); with $lhs = $sb->listHostedServices()->getHostedServices(); It does work for me. I can get a valid list of deployments back with valid role instances and sizes. Can you try that?

[2016-05-10 19:07] yaqiyang commented on #837
Can you send me the deployment package and its config file for this service (.cspkg and .cscfg files for example)? I think the problem may be specific to the type of service/package you are trying to deploy.

[2016-05-10 22:51] ppicatto commented on #837
Sorry for the delay in the answer @yaqiyang. I have tested with `$serviceManagementService->listHostedServices()->getHostedServices();` and it doesn't work for me either. I do not have any files with extension .cspkg and .cscfg.

[2016-05-11 00:07] yaqiyang commented on #837
if you dump $hostedServiceProperties, do you get any valid properties there? All deployment data should be there

[2016-05-11 13:19] ppicatto commented on #837
when I dump $hostedServiceProperties it returns:
[code]

[2016-05-11 15:03] yaqiyang commented on #837
Here is the dump of the same variable for me. Your code did not return any deployment back. Do you want any Web roles or worker roles deployed? Another way to try is to use the following code to get the deployment,
[code]

object(WindowsAzure\ServiceManagement\Models\GetHostedServicePropertiesResult)#46 (1) {
  ["_hostedService":"WindowsAzure\ServiceManagement\Models\GetHostedServicePropertiesResu

[2016-05-11 16:00] ppicatto commented on #837
I have tested what you requested and it throws the following exception:
[code]

[2016-05-11 16:05] ppicatto commented on #837
I have seen that the exception was because the instance was stopped i'll do more tests and talk you again.

[2016-05-11 16:26] yaqiyang commented on #837
just make sure the correct service name and deployment name

![image](https://cloud.githubusercontent.com/assets/14302929/15188413/7eabbf58-175a-11e6-89b7-12dceed448db.png)

[2016-05-11 16:39] ppicatto commented on #837
Well i have done some testings and the problem with `$roleInstance->getInstanceSize()` was that the instance was stopped before testing. Now i need to get the memory and cores using the name for example "BASIC_A0" i do not find a way to get this data from the SDK.

[2016-05-11 16:48] yaqiyang commented on #837
I don't think that is possible. https://azure.microsoft.com/en-us/documentation/articles/cloud-services-sizes-specs/
Maybe you can define a mapping or find a defined mapping somewhere.

[2016-05-11 16:56] phansys commented on #837
Thank you @yaqiyang. I think the only solution then will be to call another API endpoint in order to make a mapping between "size ID" and RAM / Cores. That endpoint is documented at [List all available virtual machine sizes in a region](https://msdn.microsoft.com/en-us/library/azure/mt269440.aspx). Do you know if this SDK has any method to consume that information?

[2016-05-11 17:12] yaqiyang commented on #837
I don't think we have that.

[2016-05-11 18:58] phansys commented on #837
What are your concerns about this?
Do you think it must be addressed by the SDK as a new feature? Or is it out if the scope and should be omitted?

[2016-05-11 20:10] phansys commented on #813
Closing since #814 is merged.

[2016-05-11 20:10] #813 closed

[2016-05-11 20:39] yaqiyang commented on #813
Thanks a lot for your contribution!

[2016-05-11 22:34] yaqiyang commented on #837
I don't think we will add this functionality until we work on the new resource management SDK. The service management SDK does not have any VM management APIs implemented as far as I know.

[2016-05-12 08:16] stefanedberg opened #840 "InvalidHeaderValue with Flysystem in Laravel"
Background:
https://github.com/thephpleague/flysystem/issues/647

As you can see updating STORAGE_API_LATEST_VERSION seems to solve the problem. Am I doing something wrong?

[2016-05-12 15:27] yaqiyang commented on #840
If you get the newest build of PHP SDK v0.4.3, the storage API has been updated. The newest STORAGE_API_LATEST_VERSION is 2015-04-05. Please try it.

[2016-05-12 20:44] mandersondesign commented on #747
Ha. Didn't even see it. Thanks!

[2016-05-12 21:13] DragonBe commented on #747
Sorry folks that I was silent for a couple of months, but I already started a rebuild. Progress is slow because of many other things that I have to do, but I'm motivated to continue working on this.

Find the repo at https://github.com/DragonBe/azure-sdk-for-php7 (requires PHP 7). Some things I need to further investigate: the best way to implement PSR-7 middleware, introducing a solid DI platform

[2016-05-15 08:52] ScottHelme opened #841 "v0.4.3 release notes don't mention ServiceException"
The release notes say that we have to change:

    "use WindowsAzure\Blob" to "use MicrosoftAzure\Storage\Blob",
    "use WindowsAzure\Queue" to "use MicrosoftAzure\Storage\Queue"
    "use WindowsAzure\Table" to "use MicrosoftAzure\Storage\Table"

After deploying the changes to my test environment certain features stopped working. I had to make additional changes:

    "use WindowsAzure\Common\Ser

[2016-05-16 19:25] stefanedberg commented on #840
Thanks for your reply y,

When I update microsoft/ Flysystem seem to crash:

Type error: Argument 1 passed to League\Flysystem\Azure\AzureAdapter::__construct() must be an instance of WindowsAzure\Blob\Internal\IBlob, instance of MicrosoftAzure\Storage\Blob\BlobRestProxy given

[2016-05-18 21:05] yaqiyang commented on #841
Thanks for finding that. I will update the notes.

[2016-05-18 21:07] yaqiyang commented on #840
It seems the Flysystem must be updated in order to use the new storage SDK. Can you contact its owner?

[2016-05-24 09:19] nowenL commented on #841
Hi, Yaqi. Please update for WindowsAzure\Common\ServicesBuilder as well. It should be changed to MicrosoftAzure\Storage\Common\ServicesBuilder if it's used for storage services.

[2016-05-24 15:48] yaqiyang commented on #841
WindowsAzure\Common\ServicesBuilder.createBlobService() will return StorageServiceBuilder::getInstance()->createBlobService(). So there is no need to change to MicrosoftAzure\Storage\Common\ServicesBuilder in your code unless you are referencing something else in MicrosoftAzure\Storage\Common\ServicesBuilder class.

[2016-05-25 14:39] nowenL commented on #841
Cool! Thanks yaqi.

[2016-05-27 13:49] adityosnrost opened #842 "URL Streaming"
Hi, I would like to know how to getting a URL streaming from Media Services without encoding the file first. for current example, the publishEncodedAsset function is looking for manifest file:

`// 6.1 Get the .ISM AssetFile
    $files = $restProxy->getAssetAssetFileList($encodedAsset);
    $manifestFile = null;

    foreach ($files as $file) {
        if (endsWith(strtolower($file->getName()), '.

[2016-05-27 16:00] #837 closed

[2016-05-27 16:01] yaqiyang commented on #840
Can this issue be closed?

[2016-05-27 16:14] yaqiyang commented on #841
Close it. I updated the change log, https://github.com/Azure/azure-sdk-for-php/pull/843

[2016-05-27 16:14] #841 closed

[2016-05-27 16:53] phansys commented on #837
Thank you so much @yaqiyang.
Regards.

[2016-05-29 07:11] stefanedberg commented on #840
Yes, thank you yaqiyang.

[2016-05-29 20:43] #840 closed

[2016-05-29 20:46] yaqiyang commented on #842
Sorry for the late reply. I will take a look at this problem on Tuesday.

[2016-05-31 16:20] yaqiyang commented on #842
From https://azure.microsoft.com/en-us/documentation/articles/media-services-portal-get-started/, it does not seem you can get a streaming URL without encoding the file first. You cannot publish any media file unless it is encoded.

[2016-05-31 16:24] #835 closed

[2016-05-31 19:06] adityosnrost commented on #842
Hi, thanks for your reply. I tried couple way on some settings and code to get some URL regarding to my assets. I found that uploaded file can be published by using locator(On Demand Origin, SAS) that provide some Progressive Download URL. Luckily, That I can used that on my player as streaming file. It is cost more than encoding files because it is using raw file to stream, but it is fine to me b

[2016-05-31 20:15] yaqiyang commented on #842
asset names are not unique while Ids are. You can call MediaServicesRestProxy->getAssetList() and iterate through the list to find your asset.

[2016-05-31 20:26] adityosnrost commented on #842
Hi, thanks for your reply. I found that I can use Asset id. is getAsset() method can be used like getAsset('AssedID') ?

Thanks

[2016-05-31 20:31] yaqiyang commented on #842
yes

[2016-05-31 20:32] adityosnrost commented on #842
Thanks for your help, this is so helpful :D

[2016-05-31 20:32] #842 closed

[2016-06-03 04:20] GeoffreyEmery opened #845 "Azure Storage for Wordpress Plugin in major need of love"
I know this team didn't writethis plugin, but in the end of the day its a php sdk implementation. In addition it kind of looks bad at the little love this is getting considering that wordpress powers about 1/3 of all sights on the internet. if your note the team to pick up this chllenge can  let me know who is?
This is the plugin : https://wordpress.org/plugins/windows-azure-storage/
I believe MS

[2016-06-03 15:33] devigned commented on #845
Thank you for bringing this up. I'm going to look into who from MSOT owned this previously and see what we can do to improve the situation. I'll ping back.

[2016-06-07 13:55] lukdanek commented on #845
Appreciated this! We would need working version of this plugin too.

[2016-06-07 14:03] devigned commented on #845
Quick update: found out who owned up keep of the plugin last. I'm now figuring out who will be updating it going forward.

[2016-06-07 15:20] GeoffreyEmery commented on #845
Here are list of all the azure plugins for wordpress currently floating around. Some are not MS but should give you some ideas of how people have tried to make this work by developing their own solutions. Thought it might help. https://wordpress.org/plugins/tags/windows-azure , https://wordpress.org/plugins/tags/azure

[2016-06-14 05:23] adityosnrost opened #846 "Tracking Encoding Percentage Status"
Hi,

I would like to know how to tracking my encoding job within percentage status. I have only found the function to know if the job has finished or not. Is there any function that return percentage of task or job ?

Thanks

Best Regards,

Adityo Setyonugroho

[2016-06-14 15:36] yaqiyang commented on #846
The way to track progress is to get the Tasks and Task has a Progress property.

[code]
$progress will range from 0 to 100. But the problem is this functionality does not seem to have been implemented since it returns 0 and then 100 at the finish of the task. No middle points were returned in my testing. The documentation for this REST call is at https://msdn.microsoft.com/en-us/library/azure/hh97

[2016-06-14 22:33] adityosnrost commented on #846
Hi, thanks for your reply. I'll be working around with that, I'll update the result here. Thanks

[2016-06-20 16:03] yaqiyang commented on #846
@adityosnrost , any update? Can I close this issue?

Thanks
Yaqi

[2016-06-21 14:01] scorpioliu3 commented on #846
how about this problem, what is wrong with my steps ?

C:\azure-sdk-for-php-master\examples\MediaServices>php -d display_errors=1 scale
_encoding_units.php
Azure SDK for PHP - Scale Encoding Units Sample

Fatal error: Uncaught WindowsAzure\Common\ServiceException: Fail:
Code: 400
Value: Bad Request
details (if any): {"error":"invalid_client","error_description":"ACS50012: Authe
ntication failed.\r

[2016-06-21 14:03] scorpioliu3 opened #847 "PHP SDK for media service"
Hi masters , how about this priblem? what is wrong with my steps ? thanks !

C:\azure-sdk-for-php-master\examples\MediaServices>php -d display_errors=1 scale
_encoding_units.php
Azure SDK for PHP - Scale Encoding Units Sample

Fatal error: Uncaught WindowsAzure\Common\ServiceException: Fail:
Code: 400
Value: Bad Request
details (if any): {"error":"invalid_client","error_description":"ACS50012: Aut

[2016-06-21 14:08] #847 closed

[2016-06-21 14:18] boredom2 commented on #846
The answer is correct and I can confirm, that getPercent() indeed returns values between 0 and 100 - working really fast and good :)

[2016-06-21 14:55] yaqiyang commented on #846
It seems you don’t have the correct authentication credentials ($account and $secret). Please open an new issue if you still have this problem. I am closing the old issue.

Thanks
Yaqi

From: scorpioliu3 [mailto:notifications@github.com]
Sent: Tuesday, June 21, 2016 7:01 AM
To: Azure/azure-sdk-for-php <azure-sdk-for-php@noreply.github.com>
Cc: Yaqi Yang <Yaqi.Yang@microsoft.com>; Comment <comment@

[2016-06-21 14:55] #846 closed

[2016-07-01 14:30] boredom2 commented on #829
Just to keep this up-to-date, I just noticed, that there is currently no support for LiveStreaming Assets (Channels, Programs). This would also belong to this Topic.
And (quite new), Support for the Fairplay DRM is also missing.

[2016-07-08 09:33] speed1speed1 opened #850 "media service content protection"
Dose any way to use this sdk protect my livestream content one token one user?
Because maybe they copy token.
Thanks.

[2016-07-09 22:29] yaqiyang commented on #850
Tokens will expire in sometime after being issue. I don't have any real token for Media Services right now, so I don't know exactly how long it lasts before expiration. What is your real concern here? Is your token accessible by other people?

[2016-07-10 05:55] speed1speed1 commented on #850
Yes, token is working during the expiration.
So if them copy and paste.
Our payment mechanism will fail.

[2016-07-10 19:07] yaqiyang commented on #850
The token is only known to your application which should protect it before it expires. It should not be shared with other applications or accessible by other people.

[2016-07-11 03:32] speed1speed1 commented on #850
My client is a web application and used azure media player.
Azure media player put the token in html or javascript.
I got token from php server and put it to azure media player.
Client can see the token in any web debug mode.
Maybe I only can set the expiration to 10s?

[2016-07-11 15:34] yaqiyang commented on #850
How exactly did you get the token? By calling OAuthestProxy or TokenRestrictionTemplateSerializer or other means? TokenRestrictionTemplateSerializer has an option to set expiration. If you are using that, you can set it to 10 seconds.

[2016-07-11 15:57] yaqiyang commented on #850
https://azure.microsoft.com/en-us/documentation/articles/media-services-dotnet-configure-content-key-auth-policy/. This might help, especially the **Token Restriction** section. But still, it does not seem you can fully secure the token.

[2016-07-11 16:09] speed1speed1 commented on #850
I am using TokenRestrictionTemplateSerializer.
It looks only set the expiration.
Thank you very much.

[2016-07-11 17:33] yaqiyang commented on #850
I am closing this issue. Please open a new issue if you have further questions on the PHP SDK. Thanks for using our SDK!

[2016-07-11 17:33] #850 closed

[2016-07-27 18:19] gveiga opened #855 "receiveQueueMessage freezes"
Hello, I made an agent using PHP, that is pumping the messages from a queue, but I get the receiveQueueMessage() freezing after some time (maybe days). It's a PHP script that is running in loop, with the receiveQueueMessage() in peekLock and a timeout of 5 seconds, the script sleeps for another 10 seconds each loop run.

I've tried to call the ServicesBuilder::getInstance()->createServiceBusServic

[2016-07-28 18:57] gveiga commented on #855
Below is the code that deals with the ServiceBus, it runs as a daemon in Ubuntu 14.04.2 LTS (GNU/Linux 3.13.0-29-generic x86_64)

`<?php

require_once('vendor/autoload.php');

use WindowsAzure\Common\ServicesBuilder;
use WindowsAzure\Common\ServiceException;
use WindowsAzure\ServiceBus\Models\ReceiveMessageOptions;
use WindowsAzure\ServiceBus\Models\ListQueuesOptions;
use WindowsAzure\ServiceBus\M

[2016-07-29 13:25] yaqiyang commented on #855
I am on vacation and will come back in the second week of August. In the meantime, you can add log statements to the source code for receiveQueueMessage() and find out exactly what it is doing when freezing.

[2016-07-29 17:26] gveiga commented on #855
Ok Yaqi Yang, thank you for the feedback. I did some changes to make sure that the deleteMessage/unlockMessage will be called and its running now (about 2 days). If I get any freeze I'll put the logs.
Regards!

[2016-08-03 04:05] maxwhale opened #856 "Is it possible to use this PHP SDK with SAS token?"
Hi all,

I experienced some difficulties to use this SDK with SAS token. Is it possible to use this SDK since we only receive the endpoint(URL) and SAS token, or this SDK doesn't support it.

the sample code only shows ACS authentication method.

Thanks

[2016-08-04 00:26] yaqiyang commented on #856
As far as I know, SAS is not support for service bus as this moment.

yaqi

On Aug 3, 2016, at 12:05 AM, Max <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi all,

I experienced some difficulties to use this SDK with SAS token. Is it possible to use this SDK since we only receive the endpoint(URL) and SAS token, or this SDK doesn't support it.

the sample code only shows ACS

[2016-08-05 12:31] dr3dd commented on #856
Hi,
When i create Queue or Topic in Service Bus, i can create keys only SAS, I can not choose ACS, so SAS is support for Service Bus.
The Portla Azure create for me Connection string Endpoint=sb://{endpoint}.servicebus.windows.net/;SharedAccessKeyName={name};SharedAccessKey={key}=;EntityPath={entity} and this string not working in this SDK

[2016-08-07 17:16] yaqiyang commented on #856
See this for information on this topic, https://github.com/Azure/azure-sdk-for-php#service-bus-queues

[2016-08-08 07:40] maxwhale commented on #856
I have successfully published messages to topic via ACS authentication method, but i have a question regarding the returns. How do i know if a messages has been successfully published except 401, 403 those error messages? since I couldn't found anywhere in SDK defines the $result as successful or fail.

[2016-08-08 08:50] maxwhale commented on #856
the problem was solved. the return is Message ID.

Thank you.

[2016-08-08 21:10] yaqiyang commented on #855
I am closing this since nothing more has been reported recently. Please re-open it if you see more problems.

Yaqi

[2016-08-08 21:51] gveiga commented on #855
Hi Yaqi,
I've left the program running since my last post, but it froze this weenkend, about 9 days running :(
Usually the time to freeze take some days, I'm not sure if it's due to any network instability...
Can you check the code above and test it?

Thanks,
Gilberto

[2016-08-11 22:42] #856 closed

[2016-08-11 22:52] yaqiyang commented on #855
Can you add some message logging in $serviceBusRestProxy->receiveMessage()? That will give you more information on where the freezing occurred.

Specifically, the code is in ServiceBus\ServiceBusRestProxy.php, function receiveMessage($path, $receiveMessageOptions = null) (Line 201)

[2016-08-12 01:19] gveiga commented on #855
Sure, I'll look for that tomorrow and let the process running, the result may take a few days. There is any specific point that you want to check with the logs?

Regards,
Gilberto

[2016-08-12 15:43] yaqiyang commented on #855
If it is freezes again, I want to know exactly where it got frozen in the SDK source code.

[2016-08-13 00:45] gveiga commented on #855
Hi yaqi,
I've put 4 log lines at these points in the receiveMessage():
`
 ...
 logMessage('receiveMessage > setup http OK');
        $response = $this->sendContext($httpCallContext);
 logMessage('receiveMessage > sendContext OK');
        if ($response->getStatus() === Resources::STATUS_NO_CONTENT) {
            $brokeredMessage = null;
        } else {
            $responseHeaders = $response->ge

[2016-08-13 18:54] yaqiyang commented on #855
The problem may be here,
[code]
If freezing happens again, log the value of $timeout. If it is null, the call might hangs in some cases.

[2016-08-14 00:14] gveiga commented on #855
Ok, I've added a log entry with the $timeout value. Let's wait for the results.

[2016-08-16 22:20] yaqiyang opened #858 "Public Notice: Preview of Azure ARM API for PHP"
We have made available the preview of Azure Resource Management API for PHP at https://github.com/Azure/azure-sdk-for-php/tree/arm. In this preview, we took a different approach to handle the fast changing pace of the Azure API.

All API access code files are generated by AutoRest (https://github.com/Azure/autorest) through Swagger documents published by the API owners. If you experience any probl

[2016-08-17 17:32] gveiga commented on #855
Hi Yaqi,

I got the freeze early now. It's for sure in the sendContext() function.

Here is my last log lines:
[ 16/08/2016 - 18:10:28 ] receiveQueueMessage Starting
[ 16/08/2016 - 18:10:28 ] receiveMessage > timeout value = 5
[ 16/08/2016 - 18:10:28 ] receiveMessage > setup http OK

And that's the modification done to the ServiceBusRestProxy.php:
logMessage('receiveMessage > setup http OK');
$res

[2016-08-17 17:46] yaqiyang commented on #855
sendContext() is where the request is sent to the server. You can remove other message logging, but add logging in sendContext(). I will try to reproduce it also at the same time using your code.

[2016-08-17 21:36] gveiga commented on #855
I got something strange...
I've added a log to vendor/microsoft/windowsazure/WindowsAzure/Common/Internal/RestProxy.php
around the line 142, on the "protected function sendContext($context)":
logMessage( 'RestProxy->sendContext > setup OK' );
$channel->send($this->_filters, $url);
logMessage( 'RestProxy->sendContext > send done!' );

But I got this result with the log:
[ 17/08/2016 - 18:27:55 ] Re

[2016-08-17 21:54] yaqiyang commented on #855
it could be a problem by file_put_contents(). Since it opens and closes a file each time you write to it, it may lose some log entries. You can try to have the file open all the time and keep writing to it.

[2016-08-17 22:20] gveiga commented on #855
Sorry, I got the problem... It was a threaded 2 calls to sendContext that blind me. I didn't see it at start because I'd another log entry for the URI value at ServiceRestProxy::sendContext():

Here is the full log:
[ 17/08/2016 - 18:42:42 ] ServiceRestProxy->sendContext > used URI: https://nnnnn.servicebus.windows.net/
[ 17/08/2016 - 18:42:42 ] RestProxy->sendContext > setup OK
[ 17/08/2016 - 18:

[2016-08-18 21:58] gveiga commented on #855
Hello Yaqi,

Looks that the problem really is with the **$channel->send($this->_filters, $url)** call.
There is any parameter that you wish me to add to the log, before this call to the **send**?

This is the final output where the **"[ 18/08/2016 - 05:44:53 ] RestProxy->sendContext > https://nnnnn.servicebus.windows.net/myqueue/messages/head?timeout=5 > setup OK"** have not returned its **"> send

[2016-08-18 22:16] yaqiyang commented on #855
Then you should continue to track down the issue.  $channel->send() will be in Common\Internal\Http\HttpClient.php, line 240. You can add several log entries there, and then line 264 ,   $this->_response = $this->_request->send(); will go to vendor\pear\http_request2\HTTP\Request2.php line 915.

The key is to locate the code where the freezing occurs. Then we can try to fix it.

[2016-08-18 23:01] gveiga commented on #855
But what about the parameters that we set in the sendContext function, for the $channel object?
There is any that matter to check for this freeze?
I believe that it occurs due to some network instability... can you test it there?

[2016-08-18 23:20] yaqiyang commented on #855
it is not supposed to freeze, no matter what. $channel is just an object of Common\Internal\Http\HttpClient.php. You can dump the value of interesting variables you want to the log.

[2016-08-19 18:02] yaqiyang commented on #855
I am running your code now and have not experienced any problems yet. My OS is Windows 10 and PHP is 5.5.33.

[2016-08-19 18:35] gveiga commented on #855
I'm running it on an Ubuntu 14.04.2 LTS (GNU/Linux 3.13.0-29-generic x86_64), PHP 5.5.9-1ubuntu4.16 (cli).
Try to simulate network failures. I believe that it could be something like that, due to the non constant time for the freeze (sometimes it take 9 days, sometimes 2 days...).

[2016-08-19 22:48] yaqiyang commented on #855
My process is still running all right. You can also run this process on a different machine ( a different OS) and see it freezes.

[2016-08-20 00:06] gveiga commented on #855
I've tried it before on a Windows Server 2012 R2 - PHP 5.4.34 (cli) (built: Oct 15 2014 21:58:00), but got the same freezes :(
The freeze time can vary from 1 day to more than a week. Let it running...

[2016-08-22 21:53] yaqiyang commented on #855
I have been running it for several days and no freezing yet. But it did have an exception of "Malformed Reponse" once. The process was stopped and but not frozen.

[2016-08-22 22:04] gveiga commented on #855
I've got some "Malformed Reponse" as well, usually it brings an empty response from the queue.
When I get a freeze I'll let you know.
Have you tried to simulate a network instability? I'm unable to do that with my production machine test because its access is only thru SSH and it's not an virtual machine, so if I break the network it'll be a pain to recover it...

[2016-08-22 22:10] gveiga commented on #855
BTW, what do you mean by "The process was stopped and but not frozen." ?
Do the loop asking for messages stills running?

[2016-08-22 22:21] yaqiyang commented on #855
The whole PHP process was kicked out

[2016-08-22 22:27] gveiga commented on #855
Strange... the script should catch it. Do you have any log entry in the log file for this error?

[2016-08-22 22:38] yaqiyang commented on #855
It was caught by this block. That is why the process exited

catch (Exception $ex)
    {
        if ( printErrors ) echo $ex->getMessage()."\n";
        logMessage( "Releasing Message Catch: ".$ex->getMessage() );
        exit( 2 );
    }

[2016-08-22 23:08] gveiga commented on #855
Oh, I forgot about these two catchs with the exit.... They're for extreme conditions, like to not  be able to get the proxy in 10 tries or not be able to delete/unlock a message. The program runs in a loop where it's launched again if it breaks or exit.
I took a look in my logs and I've not found any entry for this two catchs with the exit call... Let's continue with our tests...

[2016-08-26 20:42] gveiga commented on #855
Hey Yaqi, just to keep you up to date, the process stills running, looks that this run will be up for some days.... I'm really thinking that the problem comes from network instability...
How's your test there?

[2016-08-30 23:30] gveiga commented on #855
Hi Yaqi, I'm back with another point for the error:

I've put the following HttpClient_logMessage() entries to log the HttpClient::send activity:

[code]

Accordingly with the log bellow I got 3 Malformed response by the morning and the freeze happened after the entry "2-foreach OK" that means this line of code:
$this->_response = $this->_request->send();

[code]

I've added log entries to the ven

[2016-08-30 23:47] yaqiyang commented on #855
"$this->_request->send()" will definitely go to vendor\pear\http_request2\HTTP\Request2.php. I don't see any code in our files that can freeze. If you don't see any log entries from vendor\pear\http_request2\HTTP\Request2.php, check your logging code. It probably created the log file under that folder.

To make it easier, you can just add an echo command in Request2.php and the message should be s

[2016-09-01 00:09] gveiga commented on #855
Hmm I've two files Request2.php here, looks that it's using the other one... /o\
./vendor/pear-pear.php.net/HTTP_Request2/HTTP/Request2.php
./vendor/pear/http_request2/HTTP/Request2.php
Let's get back to the tests....

[2016-09-07 17:19] adityosnrost opened #860 "Ingest Asset"
Hi, I would like to know how Ingest Asset workflow on this sdk ?

Thank You

[2016-09-12 20:30] gveiga commented on #855
Hello Yaqi,

I was out of the office by these days and returned today.
I got this log showing the freeze at the send function, as all the other previous logs...
[code]
I think that it's due to:
- a network instability that the HTTP_Request2 didn't managed so well; or
- some parameter that breaks the HTTP_Request2.

Do you see any parameter at the message formation that could break it?

[2016-09-12 20:42] yaqiyang commented on #855
The code is not by us. What we can do is to dive deeper into sendRequest() and find out exactly what line of the code is hanging. I am not sure if the original authors are still supporting this. The code is at https://github.com/pear/HTTP_Request2. You can raise an issue there, but I think the most reliable solution is to find the offending code, fix it and then submit a Pull Request to that repo.

[2016-09-12 20:46] yaqiyang commented on #860
You can find some info at https://azure.microsoft.com/en-us/documentation/articles/media-services-overview/. Let me know if that answers your question.

[2016-09-12 23:52] gveiga commented on #855
On your tests, have you pushed messages to the queue? I mean, a lot of messages?
On my tests I did a small script to push a batch of 5000 messages to the queue, each message is a small json with 86 characters. I run it once or twice a day.
I thought about to look deep on the send code, but I think that it's not the right way, we should think about which missing data, by our side, could lead to a b

[2016-09-13 13:13] rnrneverdies commented on #860
Hi @adityosnrost,

In [this](https://github.com/Azure/azure-sdk-for-php/tree/master/examples/MediaServices) folder, you can find some VOD workflow PHP samples showing how to:
- create & ingest assets
- encode assets
- apply content protection (each sample uses a differnt content protection method)
- publish encoded assets

Aditionally, in [this](http://southworks.com/blog/2016/08/22/new-microsoft-

[2016-09-13 15:56] adityosnrost commented on #860
Hi @yaqiyang and @rnrneverdies ,

Thanks for your reply. I have read the documentation and also samples. I would like to create automation like this https://github.com/liarjo/MediaBlutlerTest01 or the same automation for what brightcove has with the same name (ingest). So, Azure Media Services can automatically grab any new media that has not been encoded yet to be process and auto publish them.

[2016-09-13 16:12] yaqiyang commented on #860
The SDK provides methods for encoding and publishing. For your purpose, you need to use PHP to create a listener or daemon to monitor the media files at a certain location and then use the SDK to encode and publish them. Does that answer your question?

[2016-09-14 00:22] sergey-shandar opened #861 "User-Agent should have correct version of SDK."
Currently, it's hardcoded in https://github.com/Azure/azure-sdk-for-php/blob/master/src/Common/Internal/Resources.php#L254 as 'Azure-SDK-For-PHP/0.4.1'.

[2016-09-15 15:27] BrandonNoad opened #862 "Require firebase/php-jwt: ^4.0"
firebase/php-jwt v4.0.0 has been released (https://github.com/firebase/php-jwt/releases/tag/v4.0.0).

Is it possible to update the dependency on this package from ^3.0 to ^4.0?

Thanks.

[2016-09-15 17:20] sergey-shandar opened #863 "Fix local unit-tests so they can run on Travic-CI."

[2016-09-16 17:31] gveiga commented on #855
Ok, after removing all my stuff that deals with the messages (it did a POST to another agent on the same machine) the problem stills... sincerely I don't know what to do, but give up with the ServiceBus... :(
Are you able to try it on a Windows Server 2012 R2 with PHP 5.4.34 (cli) (built: Oct 15 2014 21:58:00) ?
Because I got the problem there as well...
BTW, it's my composer.json:
[code]
Is it ok

[2016-09-16 19:53] boredom2 commented on #829
Hey there, I noticed, the code for LiveStreaming has already been checkedin. When do you plan to release it, so we can start using it?

Thanks!

[2016-09-16 20:51] yaqiyang commented on #829
yes, I plan to release it next week or so.

Thanks
Yaqi

[2016-09-16 21:45] yaqiyang opened #866 "Need to make sure all calls have the correct UserAgent"

[2016-09-16 23:57] #862 closed

[2016-09-17 09:02] adityosnrost commented on #860
Thanks for your suggestion. I'll try to build it.

[2016-09-17 09:02] #860 closed

[2016-09-17 20:37] yaqiyang commented on #855
If you pack up a small project that can reproduce this problem, we can try to reproduce it here and debug it. Currently, it does not seem the problem is in the Service Bus API, but in the HTTP client. Anther thing you can try is to replace the PEAR HTTP client with Guzzle HTTP client. Of course, that is not very easy task to do.

[2016-09-17 20:44] yaqiyang commented on #797
@sergey-shandar, please take a look at this

[2016-09-19 17:07] yaqiyang opened #868 "Investigate and fix failing tests"

[2016-09-20 00:45] gveiga commented on #855
Now that I've removed the inner code dealing with the messages the script that I'm using is the same as the one in the 2nd post in this thread... As I told you, I'm about to give up with Service Bus... If a program breaks I can deal with that, but if it freezes there is not much to do. Switch from PEAR to Guzzle is not something that I can deal now...
I don't know if it helps, but I've created my

[2016-09-20 01:02] yaqiyang commented on #855
Your issue does not seem to be related to the Service Bus configurations. Most likely, it is in the  PEAR http client when the network is not stable.

We just started the work to replace the PEAR http client with Guzzle. I expect to release it in mid October. Hope that can solve your problem.

yaqi

[2016-09-20 17:14] gveiga commented on #855
That's good news. I'm looking forward for this change :)

[2016-09-20 17:37] sergey-shandar commented on #855
See also issue #797.

[2016-09-20 18:29] sergey-shandar commented on #868
All failing tests in [MediaServicesRestProxyTest.php](https://github.com/Azure/azure-sdk-for-php/blob/master/tests/unit/WindowsAzure/MediaServices/MediaServicesRestProxyTest.php):

1. Tests\unit\WindowsAzure\MediaServices\MediaServicesRestProxyTest::testGetAssetList
Failed asserting that actual size 48 matches expected size 1.
2. Tests\unit\WindowsAzure\MediaServices\MediaServicesRestProxyTest::te

[2016-09-21 18:11] sergey-shandar commented on #868
It works for me. So, it looks like a problem with @yaqiyang machine/account.

[2016-09-21 18:23] #868 closed

[2016-09-21 20:17] sergey-shandar opened #872 "Create a document for developers."
The document should include:

# Setup Environment and Tools

- installing and configuring PHP
- OpenSSL?

# Running unit tests

# Set Up and Run E2E Test with an Azure Account

# Release Process

1. change the line

[code]

   in the `bin\release-tool.php` file.

2. run

[code]

3. Change the line

[code]

   in the `src\Common\Internal\Resources.php` file.

[2016-09-21 21:06] #861 closed

[2016-09-22 18:15] sergey-shandar commented on #866
A list of tests that sends HTTP(S) requests:

- Tests that require HTTP connection:
  - tests/unit/WindowsAzure/Common/Internal/Http/HttpClientTest.php
- Tests that require AZURE_STORAGE_CONNECTION_STRING
  - tests/unit/WindowsAzure/Common/Internal/Authentication/OAuthSchemeTest.php
  - tests/unit/WindowsAzure/Common/Internal/Filters/WrapFilterTest.php
  - tests/unit/WindowsAzure/Common/Internal/O

[2016-09-22 18:16] sergey-shandar commented on #866
[A definition of SDK_USER_AGENT](https://github.com/Azure/azure-sdk-for-php/blob/master/src/Common/Internal/Resources.php#L254).

[2016-09-22 22:49] #863 closed

[2016-09-22 23:17] #866 closed

[2016-09-24 18:23] boredom2 opened #874 "Support for Media Service JobNotifications"
In order to handle the Results of our Media Encodings, we have to use an Interval-based Solution, meaning, we are querying the current state of all open Jobs and handle according to the Result.
Although this works, on our Usage Scale (a few hundred Jobs per Day), this easily becomes complicated and in addition to that, depending on the Interval, we might deliver already encoded Assets too late for

[2016-09-26 23:26] sergey-shandar commented on #797
- "pear/http_request2": "^2.3",
- "pear/net_url2": "^2.2",
- "pear/mail_mime": "^1.10",
- "pear/mail_mime-decode": "^1.5",

[2016-09-27 09:18] CedricMi commented on #845
Can we please get an update on the future, or lack of future, of Azure Storage for Wordpress Plugin ?

[2016-09-27 20:45] sergey-shandar commented on #874
We don't have a plan to implement it in the near future but we may consider to make it in the future. We also accept Pull Requests.

[2016-09-30 04:47] sergey-shandar opened #878 "PHP 7 support"
Currently, it's blocked by #797. Some PEAR packages are not PHP 7 compatible.

[2016-09-30 04:50] sergey-shandar opened #879 "HHVM support"

[2016-09-30 22:40] sergey-shandar opened #881 "Unit tests: mock HTTP(S) requests for proper unit tests."
Currently we use real HTTP requests in out tests. Unit tests shouldn't send real requests.

[2016-10-04 00:41] sergey-shandar opened #882 "ServiceManager doesn't work with Fiddler."

[2016-10-07 17:01] sergey-shandar opened #885 "Azure SDK for PHP and Azure Storage for PHP should have a commonlibrary."
A lot of code is shared between these two projects. It would make sense to have one utility library for both of these projects. See https://github.com/Azure/azure-storage-php

[2016-10-09 02:28] rubenmachuca opened #886 "experto en bitcoin"
requiero de experto en venta de bitcion

[2016-10-09 19:07] #886 closed

[2016-10-21 15:14] yaqiyang commented on #855
@gveiga , we have just checked in the code to replace pear/http_request2 with Guzzle. Can you try it out?
Since it is not released yet, you need to get the dev drop of the repo. Your composer.json should look like,

[code]

[2016-10-25 04:57] PaulHale commented on #845
+1 for an update please!

[2016-10-25 16:58] devigned commented on #845
@kamaljit and @yaqiyang please give this a look when you have a moment.

[2016-10-25 18:07] sergey-shandar commented on #845
I'm going to investigate the issue in November.

[2016-10-25 18:45] sergey-shandar opened #896 "Set up php_cs-fixer for Travis-CI"

[2016-10-25 22:33] udf2457 opened #898 "Keyvault support"
Please consider implementing keyvault support in the PHP SDK

[2016-10-25 22:57] sergey-shandar commented on #896
See also
https://github.com/squizlabs/PHP_CodeSniffer/blob/master/CodeSniffer/Standards/PSR2/ruleset.xml

[2016-10-26 00:11] sergey-shandar commented on #898
Investigate in Milestone https://github.com/Azure/azure-sdk-for-php/milestone/9

[2016-10-27 22:29] #821 closed

[2016-10-27 22:31] sergey-shandar opened #901 "Rename Composer package."

[2016-10-27 22:49] sergey-shandar opened #902 "Remove Wiki"

[2016-10-30 15:51] pvasilevich opened #904 "Unable to create DNS RecordSet using preview ARM API"
I'm using preview ARM API.

in API you have method:
```public function createOrUpdate($resourceGroupName, $zoneName, $relativeRecordSetName, array $recordType, array $parameters, $ifMatch = null, $ifNoneMatch = null, array $customHeaders = [])```
in class MicrosoftAzure\Arm\Dns\RecordSets. This method requires that $recordType is an array.
  This method calls another method
```public function crea

[2016-10-31 21:32] sergey-shandar opened #905 "Investigate Telemetry Needs"

[2016-10-31 22:00] yaqiyang commented on #904
@sergey-shandar , that seems to be a bug in the AutoRest PHP generator which should treat RecordType as a simple type

[2016-10-31 22:02] sergey-shandar commented on #904
@yaqiyang Thanks for hint, I will have a look.

[2016-10-31 22:16] #878 closed

[2016-10-31 22:17] sergey-shandar opened #906 "Remove PEAR/mail_mime"

[2016-10-31 22:18] sergey-shandar opened #907 "Remove PEAR/net_url2"

[2016-10-31 22:25] sergey-shandar commented on #797
See also #906 and #907.

[2016-10-31 22:25] #797 closed

[2016-11-01 00:31] sergey-shandar commented on #855
Hi @gveiga

We released [v0.5.0](https://packagist.org/packages/microsoft/windowsazure#v0.5.0) today which includes the changes which should fix the bug. I'm closing the bug. Please, reopen it if the issue is not solved yet.

[2016-11-02 03:06] pvasilevich commented on #904
I have manually removed "array" from functions declaration and checked how it will work for simple string argument.
I've faced another issue:
Code: 400
Value: Bad Request
details (if any): {"code":"BadRequest","message":"The domain name '{relativerecordsetname}.domain.example.com' is invalid. The provided record set relative name '{relativerecordsetname}' is invalid."}.

What I see in code is:
\Ar

[2016-11-02 18:51] sergey-shandar commented on #904
It's not required but it's up to you.

[2016-11-03 17:28] sergey-shandar opened #909 "Remove version tags in each of the files."
"Currently the project has version tag embedded in each of the file. The reason is that the project used to use PEAR to publish and it is PEAR's requirement. Now that the project uses Packagist which no longer requires those tags I am thinking about removing them in the next release."

From https://github.com/Azure/azure-storage-php/issues/40

[2016-11-10 03:17] katmsft commented on #706
Just a heads up for the user to track [azure-storage-sdk-#9](https://github.com/Azure/azure-storage-php/issues/9). It will be supported in the next release.

[2016-11-16 15:44] synesthesia commented on #733
Major issue for me - I had started creating an interface to talk to an existing service bus namespace that is of the "modern" type, i.e. no ACS.  Going to end up with one namespace for most functions and a separate one just for a PHP source...

[2016-11-17 21:14] seguler opened #910 "Feedback Request: 3-min survey for Azure Storage Client Libraries and Tools"
Hi Everyone,

This is your chance to shape the Azure Storage product roadmap! We are looking for feedback from our users regarding Azure Storage Client Library and Tools. If you'd like to help us, please take the following short survey: http://aka.ms/ClientLibrariesFeedback2016

Sercan Guler
Program Manager, Azure Storage

[2016-11-18 03:27] seguler commented on #910
I meant to post this on the Azure Storage PHP repo. Sorry. Closing.

[2016-11-18 03:27] #910 closed

[2016-11-23 17:56] sergey-shandar opened #911 "ARM: Generate reference documentation for docs.microsoft.com or somewhere else"

[2016-11-23 17:57] sergey-shandar opened #912 "ARM: Update Swagger spec for Azure Search management API."

[2017-01-06 00:11] gveiga commented on #855
Hello guys,

I was able to get back on this project only today, and got an error on a call to
**$serviceBusRestProxy->listQueues();**
( where **$serviceBusRestProxy = ServicesBuilder::getInstance()->createServiceBusService($connectionString);** )

The error message is:
**PHP Fatal error:  Call to undefined function WindowsAzure\Common\Internal\Atom\simplexml_load_string() in /home/stayfilm/actionj

[2017-01-06 00:53] sergey-shandar commented on #855
Hi @gveiga, I will try to reproduce the error on my machine.

[2017-01-06 01:00] sergey-shandar commented on #855
simplexml_load_string() is a PHP function http://php.net/manual/en/function.simplexml-load-string.php. Could you try these solutions http://stackoverflow.com/questions/31206186/call-to-undefined-function-simplexml-load-string-in-cron-file?

[2017-01-06 16:50] gveiga commented on #855
Great, it's working now \o/
Thank you Sergey, I'll let it running now. Usually it took from a few days to weeks to freeze with the old SDK, let's see how it works with the guzzle implementation.

One thing that I saw here, I had some messages into the queue, the program read the messages, but between some reads it got null messages, before read another valid message. The log entries below shows a

[2017-01-10 08:49] skip405 commented on #845
Hi everyone, bringing this up again, the plugin does get some attention from time to time, yes. Can we ask for it to be open-sourced here on Github, so that any interested person could create a pull-request?

For example, the feature I currently lack in this plugin is CacheControl, which I'm willing to try and do. I see this option is available in code, but it's not available on the settings page

[2017-01-10 19:05] sergey-shandar commented on #845
As far as I understood, the plugin is already open-sourced https://github.com/10up/windows-azure-storage and maintained by the 10up team. Please, contact them directly.

[2017-01-10 19:10] sergey-shandar commented on #845
I created the issue there https://github.com/10up/windows-azure-storage/issues/14 to keep track for this discussion. I'm going to close this one.

[2017-01-10 19:10] #845 closed

[2017-01-16 16:23] gveiga commented on #855
Hey guys, have you tried the 0.5.0 version with the code from my 2nd post? It's very buggy, not picking all the messages without a restart from the program... (and letting messages at the stack without picking it even restarting the program...) Should I change anything on my code?

Regards

[2017-01-17 19:38] sergey-shandar commented on #855
I will have a look the code.

[2017-01-17 19:39] sergey-shandar commented on #855
@gveiga could you provide an example of code?

[2017-01-17 21:16] gveiga commented on #855
You can find the code at my 2nd post.
At the bottom lines, close to the ' echo "End of cicle....\n"; ' you'll find a line where you can set the $serviceBusRestProxy to null. It will reconnect to the ServiceBus if it's set to null, otherwise it will use the same proxy for all the calls.

[2017-01-17 21:34] boredom2 opened #913 "Azure Storage Library"
Hi there,

is there any Reason, why the Composer still uses the 0.10 Version of the Azure Storage Library?
They just upgraded to 0.12 with interesting new Features and it would be interesting to know, if this could be updated easily? Or do you see any deeper Problems and stay at 0.10 for that reason?

Thanks!

[2017-01-17 23:59] gveiga commented on #855
Also, change to true these two vars:
const printInfo         = false;
const printErrors       = false;
:)

[2017-01-18 22:34] sergey-shandar commented on #913
@boredom2 no, there's no problem. There's no changes in Azure SDK itself so we didn't plan to update it yet.

[2017-01-26 09:34] haf opened #914 "php: unable to find ecdh parameters"
Greetings,

We're having an issue where a call to ServicesBuilder that started tonight without intervention from our part. We're using the default sample code [in your tutorial](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-php-how-to-use-queues) under "How to receive messages from a queue".

Our code looks like this:

[code]

And fails with:

[code]

It would seem there

[2017-01-26 10:37] haf commented on #914
Closing – solution was to bump PHP version from 5.4.

[2017-01-26 15:03] alcohol commented on #733
Can this get some traction?

[2017-01-26 15:08] alcohol commented on #896
Why not https://github.com/FriendsOfPHP/PHP-CS-Fixer ? PHP CodeSniffer is rather outdated.

[2017-01-26 18:45] sergey-shandar commented on #733
@alcohol We are working on a major upgrade of Azure SDK for PHP which will use [AutoRest](https://github.com/azure/autorest) to generate PHP code from Swagger.

[2017-01-26 18:47] sergey-shandar commented on #896
Yes, we already use it https://github.com/Azure/azure-sdk-for-php/blob/master/composer.json

[2017-01-26 18:48] sergey-shandar commented on #896
But you are right, we need to remove squizlabs/php_codesniffer

[2017-01-27 08:10] dkarlovi commented on #733
@sergey-shandar does this mean AutoRest will get full PHP support?

[2017-02-02 18:47] venii commented on #914
Doenst not work the solution. In my case, the problems occurs when i call method via rest (api), and dont show this error when i call via browser

[2017-02-10 13:38] cassianotartari opened #915 "Create an asset from a existing blob"
Hi!

I'm trying to figure out how to create an asset to streaming using an already uploaded video to blob storage. The storage is the same used in media services.

I've tried to use ``Iblob::copyBlob`` but it seems to not accept the asset as destination.

Now I'm thinking in use ``Iblob::getBlob`` to get file content and ``MediaServicesRestProxy::uploadAssetFile`` to set this content to my assetFi

[2017-02-10 16:46] andrerav commented on #726
This is quite the showstopper for using this library. Is there anything I can do to help out with getting this implemented quickly?

[2017-02-10 19:00] sergey-shandar commented on #726
We are working on ARM implementation of Azure SDK for PHP. However, if someone provides a PR, I'm happy to review it and release a new version of the SDK.

[2017-02-10 19:07] sergey-shandar commented on #915
@cassianotartari This question is related to Azure Storage for PH: https://github.com/Azure/azure-storage-php

[2017-02-10 19:07] #915 closed

[2017-02-13 10:46] cassianotartari commented on #915
ok... but is kind of related to this repository because of the asset creation.

[2017-02-14 11:49] timbrand commented on #726
Does this mean that the error I'm having:
`cURL error 6: Could not resolve host: ***-sb.accesscontrol.windows.net`
Is related to this?

[2017-02-22 07:09] adityosnrost opened #916 "Generate SAS for container"
Hi,

I would like to know how to generate sas url for a container ?

Thank You

[2017-02-23 14:47] ZebpayHitesh opened #917 "Unable to open a $serviceBusRestProxy object in php"
`Fatal error: Uncaught <table style="border: 1px" cellspacing="0"> <tr><td colspan="3" style="background: #ff9999"> <b>HTTP_Request2_ConnectionException</b>: Unable to connect to tls://zebpaytestnet-sb.accesscontrol.windows.net:443. Error: php_network_getaddresses: getaddrinfo failed: Name or service not known in <b>/var/www/html/Myoperator/support-scripts/Zendesk/vendor/pear/http_request2/HTTP/Re

[2017-03-01 18:23] sergey-shandar commented on #917
@ZebpayHitesh Could you provide more info? It looks like the service was not available at this time "Name or service not known"

[2017-03-08 13:38] fabio-vyzvoice commented on #917
Hello, I'm having the same issue, using PHP 5.6.25 and microsoft/windowsazure 0.4.5.
I'm following the example at [Microsoft PHP topic example](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-php-how-to-use-topics-subscriptions)
and I'm getting this error message:
Unable to connect to tls:\/\/my-sb.accesscontrol.windows.net:443. Error: php_network_getaddresses: getaddrinfo

[2017-03-08 16:42] nspd opened #918 "Mcrypt deprecated on php 7.1"
mcrypt_encrypt is deprecated on php 7.1 and it's suggested to use openssl_encrypt.
http://php.net/manual/en/migration71.deprecated.php

In the file /src/MediaServices/Models/ContentKey.php lines 405~410 it's used this method.

         $encrypted = mcrypt_encrypt(
            MCRYPT_RIJNDAEL_128, // AES
            $aesKey,
            $this->_id,
            MCRYPT_MODE_ECB
        );

[2017-03-09 01:01] sergey-shandar commented on #917
@fabio-vyzvoice Could you also try 0.5.0 ?

[2017-03-09 01:26] fabio-vyzvoice commented on #917
Nope, I'm stuck with Zend fromawork 2.4 and can't upgrade to 2.7, which is required for version 0.5.0. I believe the problem is that the https://*-sb.servicebus.windows.net is not accessible at all.
It seems that, with 0.4.5, it is not possible to use SAS authentication but CAS, as the endpoint parser can't understand the SharedAccessKey & Name, but only the SHARED_SECRET_ISSUER_NAME & SHARED_SECR

[2017-03-09 19:41] KNein32 opened #919 "Unable to preform actions on Azure Storage Emulator"
I set up Azure Storage Emulator so I could test code with my local machine and could not get this package to successfully preform actions on it.

I've followed the instructions in the read me as well as the documentation here https://docs.microsoft.com/en-us/azure/storage/storage-php-how-to-use-table-storage

[code]

And I will get the error

While searching around the web I noticed that azure-sto

[2017-04-06 06:00] katmsft commented on #777
@dkarlovi @jamesryan83
Cors management support is added in the 0.14.0 release of azure-storage-php repo. Check it out [here](https://github.com/Azure/azure-storage-php)

[2017-04-06 07:37] katmsft commented on #798
@lukos
Please see [this](https://github.com/Azure/azure-storage-php/issues/4) for latest update, thanks!

[2017-04-20 14:12] boredom2 opened #923 "MediaServices: FairPlay Sample Exception"
Hi there,

while trying to create a FairPlay DRM Protection, according to your Sample, the SDK ends with an Exception: "Invalid FairPlay configuration, ASkId not found.".
While analyzing the Traceback, this happens in the MediaServicesRestProxy at "createContentKeyAuthorizationPolicyOption". This is nearly at the End of the Sample while creating the ContentKeyAuthrozation Policies shortly before l

[2017-05-02 13:25] rafael-franca opened #924 "Composer Error"
When I tried install the v0.5.1, receiving the following error:
[code]
I decided install the version v0.5.0, and it's OK.

[2017-05-06 11:54] boredom2 commented on #923
I was able to fix it - no Problem with the SDK so far :)

[2017-05-06 11:54] #923 closed

[2017-05-18 10:52] hail2skins commented on #917
Just to affirm.   I'm running into the same error using the Ruby example fabio is using the PHP example above.

2.4.1 :011 > topic = azure_service_bus_service.create_queue("test-topic")
Faraday::ConnectionFailed: Failed to open TCP connection to spike-ds1-powershell-sb.accesscontrol.windows.net:443 (getaddrinfo: Name or service not known)

[2017-05-25 13:41] bedeMarkRadford opened #926 "Is the ARM branch dead?"
My company is moving to ARM and we depend on the Service Bus.
Is this branch going to be resurrected?

Our proposed solution at the moment is to use REST and just make POST calls to the SB.

[2017-05-25 21:34] sergey-shandar commented on #926
I'm working on ARM implementation of Azure SDK for PHP.

[2017-06-28 10:47] ScottHelme opened #928 "New EndpointSuffix in connection string"
I recently setup a new table for testing and grabbed the connection string from the Azure portal:

`DefaultEndpointsProtocol=https;AccountName=test;AccountKey=*snip*;EndpointSuffix=core.windows.net`

It seems that the SDK isn't happy with the new EndpointSuffix variable in this connection string and throws errors. Should this cause problems like this?

[2017-07-10 18:37] sergey-shandar commented on #913
It should be resolved in 0.5.2 and 0.5.3

[2017-07-10 18:37] #913 closed

[2017-07-10 18:38] #907 closed

[2017-07-10 18:38] #906 closed

[2017-07-10 18:42] #798 closed

[2017-07-10 22:35] sergey-shandar opened #929 "ARM Planning"
See https://github.com/Azure/azure-sdk-for-php/tree/arm2

[2017-07-11 15:43] Gaia-Nutrition commented on #928
Well this is a problem.
I need to access a specific instance (Azure Germany) which explicitly needs the EndpointSuffix:
`DefaultEndpointsProtocol=https;AccountName=*snip*;AccountKey=*snip*;EndpointSuffix=core.cloudapi.de`

I found the workaround to be rather simple: Set the `BlobEndpoint` / `QueueEndpoint` / `TableEndpoint` / `FileEndpoint` directly:

Works like a charm 🎉

[2017-07-12 08:43] rangarajan-k opened #930 "listBlobsOptions has been removed ?"
I am trying to get blob with a specific prefix. But i am not able to execute the function. here is the code
`$blobListOptions = new ListBlobsOptions();
$blobListOptions->setPrefix('test/');
$blob_list = $blobRestProxy->listBlobs($container_name,$blobListOptions);`

[2017-07-12 21:23] sergey-shandar commented on #930
https://github.com/Azure/azure-storage-php

[2017-07-12 21:24] sergey-shandar commented on #930
https://github.com/Azure/azure-storage-php/issues/90

[2017-07-12 21:24] #930 closed

[2017-07-12 21:25] sergey-shandar commented on #926
New ARM branch is https://github.com/Azure/azure-sdk-for-php/tree/arm2

[2017-07-12 21:25] #926 closed

[2017-07-12 21:32] sergey-shandar commented on #929
P0: AD management (app creation, RBAC, service principals), storage account management and blob upload/management.

[2017-07-12 21:46] sergey-shandar opened #931 "Releasing POC for a simple service"
Redis

[2017-07-13 01:47] katmsft commented on #930
@rangarajan-k Could you please also provide the output of the error?

[2017-07-24 07:30] YunLi1988 commented on #812
the blob from Container.GetBlockBlobReference have blob.Properties.Length as -1. Is it a bug?

[2017-07-24 10:33] vinayakac opened #932 "Socket Issue"
Fatal error: Uncaught <table style="border: 1px" cellspacing="0"> <tr><td colspan="3" style="background: #ff9999"> <b>HTTP_Request2_MessageException</b>: Error writing request in <b>C:\xampp\htdocs\edmin\RETS\NWMLS\vendor\pear-pear.php.net\HTTP_Request2\HTTP\Request2\Adapter\Socket.php</b> on line <b>130</b></td></tr> <tr><td colspan="3" style="background-color: #aaaaaa; text-align: center; font-w

[2017-07-24 10:34] vinayakac commented on #932
Please help me on this, i am struggling like anything...

Thanks in advance

[2017-07-24 10:35] vinayakac commented on #917
Fatal error: Uncaught <table style="border: 1px" cellspacing="0"> <tr><td colspan="3" style="background: #ff9999"> <b>HTTP_Request2_MessageException</b>: Error writing request in <b>C:\xampp\htdocs\edmin\RETS\NWMLS\vendor\pear-pear.php.net\HTTP_Request2\HTTP\Request2\Adapter\Socket.php</b> on line <b>130</b></td></tr> <tr><td colspan="3" style="background-color: #aaaaaa; text-align: center; font-w

[2017-07-24 10:35] vinayakac commented on #917
I am also facing same issue

[2017-08-01 08:20] dkarlovi opened #933 "Cognitive services support?"
Are there any plans to support [Cognitive services](https://azure.microsoft.com/en-us/services/cognitive-services/) in the near future?

[2017-08-01 16:12] sergey-shandar commented on #933
I'm working on Azure Resource Management implementation for PHP, including [Cognitive Services](https://github.com/Azure/azure-rest-api-specs/tree/current/specification/cognitiveservices/resource-manager).

[2017-08-03 10:59] dkarlovi commented on #933
@sergey-shandar thanks for the reply, I didn't know AutoRest supports PHP as a target.

[2017-08-04 12:35] dkarlovi commented on #933
It seems it doesn't (yet?), asked to make sure https://github.com/Azure/autorest/issues/2502

[2017-08-04 16:28] sergey-shandar commented on #933
@dkarlovi I'm working on it :-)
PHP AutoRest: https://github.com/sergey-shandar/autorest/tree/sergey-shandar-php20
PHP RunTime for ARM: https://github.com/azure/azure-sdk-for-php/tree/arm2

[2017-08-04 16:31] sergey-shandar commented on #933
@dkarlovi code, design, architecture etc are subject to change (actually, I change it almost every day) but I accept proposals and suggestions.

[2017-08-04 18:32] sergey-shandar commented on #931
https://packagist.org/packages/microsoft/windowsazure#dev-arm2

[2017-08-04 18:34] sergey-shandar commented on #932
@vinayakac What version of Azure SDK for PHP are you using?

[2017-08-04 18:42] sergey-shandar opened #934 "Core Library as a separate package"

[2017-08-04 18:43] sergey-shandar opened #935 "X-MS Extensions support"

[2017-08-04 18:43] sergey-shandar opened #936 "Better strongly typed facade"
- Support for strong types. PHP 7, PHP 7.1 ?
- AutoRest should generate interfaces and static classes instead of concrete classes.

[2017-08-04 18:44] sergey-shandar opened #937 "Use x-ms-examples for unit testing."

[2017-08-04 18:45] sergey-shandar opened #938 "Setup CI for ARM"

[2017-08-04 18:45] sergey-shandar opened #939 "JSON-RPC server for live testing"

[2017-08-04 18:46] sergey-shandar opened #940 "Profiles support"
class aliases

[2017-08-04 18:47] sergey-shandar opened #941 "Code generation: Optional parameter support"

[2017-08-04 18:47] sergey-shandar opened #942 "Code generation: Optional property support"

[2017-08-04 18:48] sergey-shandar opened #943 "Serialize/deserialize according to Type Info"

[2017-08-04 18:48] sergey-shandar opened #944 "parameters validation"

[2017-08-04 18:49] sergey-shandar opened #945 "sdkinfo.json for code generation"

[2017-08-04 18:51] sergey-shandar commented on #901
We need to move current GitHub repository in order to create a new package

[2017-08-04 18:57] sergey-shandar opened #946 "Support body and header parameters"

[2017-08-04 18:59] sergey-shandar opened #947 "Pull changes from AutoRest v2.0 branch to PHP."

[2017-08-04 20:04] #931 closed

[2017-08-04 20:05] #929 closed

[2017-08-04 20:08] sergey-shandar opened #948 "Make sure all specs can be generated"
P0:
- Network,
- Compute
...

[2017-08-04 20:10] sergey-shandar commented on #948
Ruby, Go, .Net as reference

[2017-08-04 20:23] sergey-shandar commented on #901
1. Create github for ASM
2. change packagist microsoft/windowsazure source to the new ASM git repo.
3. change master branch in azure-sdk-for-php git.

[2017-08-05 05:31] vinayakac commented on #932
PHP Version 5.5.33
--

[2017-08-05 06:11] sergey-shandar commented on #932
@vinayakac Ok. Could you try https://packagist.org/packages/microsoft/windowsazure 0.5.3 for PHP 5.6 ?

[2017-08-05 12:11] dkarlovi commented on #933
@sergey-shandar thanks for the reply, I'll have a look. Sorry about opening issues all over the place, current state of affairs with Azure+PHP is somewhat confusing. :)

[2017-08-08 23:17] sergey-shandar opened #950 "AutoRest: support multiple API-versions."

[2017-08-08 23:18] sergey-shandar commented on #948
#950

[2017-08-09 23:14] sergey-shandar opened #951 "AutoRest should generate descriptions for classes, methods, parameters, types and properties."

[2017-08-09 23:14] sergey-shandar opened #952 "AutoRest should generate MIT license header"

[2017-08-17 23:45] sergey-shandar commented on #926
@bedeMarkRadford you can try early preview from here https://packagist.org/packages/microsoft/windowsazure#dev-arm2

[2017-08-17 23:47] sergey-shandar commented on #933
@dkarlovi you can try an early preview from here https://packagist.org/packages/microsoft/windowsazure#dev-arm2

[2017-08-19 17:55] kaioken opened #953 "JWT 5.0"
Any plans to upgrade to jwt 5.0?

Thanks

[2017-09-19 18:14] smpilo commented on #733
This has become a critical issue with some of our partners who are using this SDK to access service bus, since Microsoft no longer allows creation of ACS namespaces. Any progress here?

[2017-09-20 17:46] sergey-shandar commented on #733
@salameer

[2017-10-02 19:58] Shaked commented on #726
@timbrand did you solve this issue?

[2017-10-08 08:20] timbrand commented on #726
@Shaked Actually, I stopped the implementation and went back to RabbitMQ.

[2017-10-08 20:26] Shaked commented on #726
@timbrand Thanks for the reply. In case you still need it, I have it working here: https://github.com/Shaked/azure-sdk-for-php. I didn't do a pull request as the contribution document is way too long and I have no time to follow all the guidelines.

[2017-10-09 18:21] sergey-shandar commented on #726
@Shaked please, send a PR. I will have a look. I can also help you with the contribution document.

[2017-10-23 16:21] smpilo commented on #733
Hi, update please?

[2017-10-23 16:24] smpilo commented on #726
@Shaked Do you think you can address the PR issues in the short term? :) We have business partners who we'd love to roll to a new version and use SAS instead of monkeying around with ACS.

[2017-10-23 20:02] Shaked commented on #726
@smpilo AFAIU @sergey-shandar is on it. I will try to fix the comments that I saw in the pull request but I have no time to do the entire process.

In the meanwhile, you can require the package from my repository if you would like

[2017-10-26 06:42] #916 closed

[2017-11-10 21:32] Oxicode commented on #898
+1

[2017-11-20 12:45] bentaylorwork commented on #898
I had to write a quick POC for using Azure Key Vault with PHP. Details below.

https://github.com/bentaylorwork/php-azure-key-vault

https://packagist.org/packages/bentaylorwork/azurekeyvault

Hopefully it will help someone get started with it.

Thanks

[2017-11-20 20:03] sergey-shandar commented on #726
@smpilo and @Shaked the PR is still failing because the fix doesn't support PHP 5.6 and PHP 7.0. Could you provide a fix?

[2017-11-30 18:14] boredom2 commented on #918
I just would like no emphasize, that today, PHP 7.2 has been released and MCRYPT is now removed from the PHP Core. It would really be great, if this code could get re-designed.

[2017-12-18 20:38] jeliasson commented on #904
The methods still take ```array $recordType``` where is should be a ```string```, and ```
 '{relativeRecordSetName}' => $relativeRecordSetName``` is missing in the replacement. Is there any work being done to this branch?

Can anyone give an example of the ```$parameters``` for creating a A-Record? I have tried different variations, but no TTL or ARecord is set. Record is created without the value

[2018-01-11 08:06] boredom2 opened #963 "Azure Storage SDK"
The Usage of the microsoft/azure-storage Package is deprecated. The Requirements of this SDK should focus on the new azure-storage-* Packages, which are GA under Version 1.0 now.

[2018-01-24 10:09] JasonYang-MSFT opened #964 "Does php sdk support resource mode?"
Does php sdk support resource mode?

[2018-01-26 11:19] boredom2 commented on #963
Any Update on this?
It would make this SDK more usable, if it would support the latest Version of the Storage SDK seamlessly :)

[2018-02-06 07:07] #777 closed

[2018-02-07 18:23] boredom2 commented on #963
I would like to ask again - when will this SDK support the official Microsoft Storage SDK? Thanks for an Update :)

[2018-02-19 08:42] xupiter opened #966 "Update to newer API versions"
1. With 'x-ms-version' header hardcoded to '2011-10-01', this SDK is less than useful for Service Management APIs
2. While the latest API versions use "https://management.azure.com" URI, all examples deal with old "management.core.windows.net" endpoints.

Would like to see this this project as actively maintained by Microsoft.

[2018-02-27 15:26] CloudAdmini opened #967 "Azure API"
hey
i'm trying to deploy azure API in my IHM, i tryied to use the code witch is here azure-sdk-for-php but i got thi error
![az1](https://user-images.githubusercontent.com/36741073/36737272-f788301a-1bda-11e8-8651-59f166cecc4d.PNG)

[2018-02-27 15:33] acedubs commented on #967
//Convert <br> to <br /> forxhtml
$test
$patternmatch
$reflex
#batch

[2018-03-01 10:08] YingChen-dci opened #968 "use customize preset to encode VOD"
Hello,
As I want to encode VOD asset with customize preset, I found the following document(the sample is for .NET), and run a test.
But *The job has finished with a wrong status: Error* shows.

https://docs.microsoft.com/en-us/azure/media-services/media-services-custom-mes-presets-with-dotnet

What I did is
- created customiza preset .JSON file at my server
- changed $task->setConfiguration('chang

[2018-03-01 10:10] CloudAdmini opened #969 "run the sdk"

[2018-03-01 10:14] CloudAdmini opened #970 "Run the azure-sdk-for-php"
i want to execute this sdk so i folloxed the steps bellow and my vendor show up , right now i need to know more information about the next step , should i create a new file and put all the informations in getting started or what and where can i get the informations in 'DefaultEndpointsProtocol' and SubscriptionID
Thank u for helping

[2018-03-02 11:48] smoelker commented on #966
+1 here. The versions are outdated and there are quite some open issues. Please update this library.

[2018-03-02 12:31] boredom2 commented on #963
And I still cant believe, that you dont even keep updated with your own Storage SDK :)
Please remove at least the Inconsistencies and update to the new Storage SDK Versions.

[2018-03-11 01:56] dinwal opened #972 "Some of the calls return Fatal errors"
In some cases we get this error

PHP Fatal error: Call to undefined method MicrosoftAzure\\Storage\\Blob\\Models\\CreateBlobOptions::getUseTransactionalMD5() in /var/www/recurpost.com/vendor/microsoft/azure-storage-blob/src/Blob/BlobRestProxy.php on line 1941

I see the trait defined just fine and can reach its definition by following my code, but not sure why it fails at times.

It is important t

[2018-03-14 01:03] leejunkit commented on #968
You can pass in XML directly into the `setConfiguration` method call.

[2018-03-20 08:59] YingChen-dci opened #973 "Usage: Azure Storage SDK"
Hello,

I saw the changelog of  azure-sdk-for-php said that  Azure Storage SDK to version 0.19.1 was updated.
I want to get for example Blob list, where can I find the classes of Azure Storage ? Or should integrate Azure Storage SDK to azure-sdk-for-php?

It would be great to hear any idea from any of you.
Ying

[2018-04-06 00:52] neoacevedo opened #974 "setPrefix returning the same prefix as blob"
I think the title is not enough to explain it, so I will do with an example.
I have this code:
[code]
What I expected for is the blobs (directories and files) inside *directory1/subdirectory* but I am getting as result the same prefix as blob.

Doesn't matter if I set a delimiter or not, if I set a slash in the path of setPrefix, the results is the same. The idea is to dig inside the prefix, not l

[2018-04-18 15:09] deJong-IT opened #975 "Package microsoft/azure-storage is abandoned"
When installing this package with composer you get the following warning:

**Package microsoft/azure-storage is abandoned, you should avoid using it. Use microsoft/azure-storage-blob, microsoft/azure-storage-table, microsoft/azure-storage-queue, microsoft/azure-storage-file instead.**

And because I already use the new azure-storage-blob package, I get a lot of extra errors about Ambiguous class r

[2018-04-18 16:14] boredom2 commented on #975
This is a very good Question, but Microsoft does not want to answer!

See here :)
https://github.com/Azure/azure-sdk-for-php/issues/963

[2018-04-18 17:28] deJong-IT commented on #975
Yes, I read your question, but I thought, maybe give it another try with a new thread, you never know :)

[2018-04-18 19:31] boredom2 commented on #975
Go ahead! More People, more Issues please :)
I still have Hope, that someone finally reads this here...

[2018-04-20 21:38] linitram opened #976 "microsoft/azure-storage abandoned - README.md needs to be updated to avoid customer confusion and waste of time"
"Package microsoft/azure-storage is abandoned, you should avoid using it. Use microsoft/azure-storage-blob, microsoft/azure-storage-table, microsoft/azure-storage-queue, microsoft/azure-storage-file instead."

https://github.com/Azure/azure-sdk-for-php can no longer be used for accessing Azure storage.

Please be clear about it in README.md and point customers to https://github.com/Azure/azure-sto

[2018-04-29 11:05] udf2457 commented on #976
I just installed via packagist and noticed the

Message as well.  Thanks for saving me some time !

[2018-05-17 23:16] LTroya opened #977 "Error throw by optional $expand param in getNetworkInterfaces and getPublicIPAddresses on `get` method"
I am using `NetworkManagementClient` to retrieve public ip addresses and network interfaces, but `get` method trigger the following exception:

`$expand query option value is invalid. The resource does not have property  or the property does not represent a reference to another resource.`

I have been looking for into the docs but I have not found information about this param.

Here is some snippe

[2018-05-18 04:12] YingChen-dci opened #978 "Does anyone know how to logging with this php-sdk?"
I need to output log to integrate it to our system, then I tried to use "echo", "print_r", and also php "error_log" to output log from like " src/MediaServices/MediaServicesRestProxy.php ". But it didn't work.

As php error_log, I set the configuration in php.ini, then restart httpd, and using "error_log" to output log. But couldn't being logged.
display_errors = ON
error_log = "my php error log p

[2018-05-22 08:32] Robjam opened #979 "count(): Parameter must be an array or an object that implements Countable."
Environment:
PHP 7.2
WordPress 4.6.5

Error:
count(): Parameter must be an array or an object that implements Countable.
at line 67 of HttpGuzzle/handler/CurlFactory.php

This [issue](https://github.com/guzzle/guzzle/issues/1973) was resolved in HttpGuzzle in 6.3.

It also appears the [google sdk](https://github.com/google/google-api-php-client/issues/1377) had a similar issue that was resolved.

[2018-05-22 21:08] phansys commented on #926
@sergey-shandar, is that branch intended to be part of a new release of this library (mean, `v2` by instance) or that branch is a release candidate for a new library?
My concerns are about the possibility to have both APIs working simultaneously, so I'd like to know which is the strategy you are proposing about this.
The solutions I think could be possible are:

1. Keep `0.x` and `1.x` branches as

[2018-05-23 05:04] YingChen-dci opened #980 "Upload contents from Aws s3"
Hello there,

I have quick question.
I knew that it is ok to upload contents from local, however we would like to know does this sdk support upload video contents from S3 or not?

Thanks in advance,
Ying

[2018-05-23 21:03] phansys commented on #858
This is a follow up of this comment: https://github.com/Azure/azure-sdk-for-php/issues/926#issuecomment-391141277.
@sergey-shandar, @yaqiyang; is the [`arm`](https://github.com/Azure/azure-sdk-for-php/tree/arm) branch intended to be part of a new release of this library (mean, v2 by instance) or is that branch a release candidate for a new library?
My concerns are about the possibility to have bot

[2018-06-06 07:46] YingChen-dci commented on #980
I've already got the solution.

[2018-06-06 07:46] #980 closed

[2018-06-06 07:48] YingChen-dci commented on #973
I've got the solution

[2018-06-06 07:48] #973 closed

[2018-06-12 13:29] pierrebraun opened #981 "MediaServices on video from url"
Hello,
Can we Encode and manage video directly from url and avoid the step of uploading the video to blob?

[2018-06-19 03:14] adamhewitt627 opened #982 "ContentKey has bad Checksum"
I'm fairly certain my understanding of this is correct, but:

1. I'm a .NET guy, not PHP. (I am also the Azure expert internally, hence I'm investigating, but we have a PHP backend so we used this SDK)
2. I don't even know where to begin to try running this to check my suspicion. (I _can_ create new content keys with REST and the .NET SDK.)
3. I don't know why I'd be the only one broken.

When cre

[2018-06-19 17:14] adamhewitt627 commented on #982
For the record, this outputs the same checksum as the .NET SDK

[code]

[2018-07-24 15:00] jeremyfrench opened #983 "no ability to explicitly DeadLetter a brokered message"
With .net you can send a message to the dead letter queue with an explicit reason
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.queueclient.deadletterasync?view=azure-dotnet

However, with the php client, it looks like this functionality is not available. I can't see if it is available on the HTTP rest client as yet, I saw this https://stackoverflow.com/a/20533304/56672 wh

[2018-07-24 15:09] jeremyfrench commented on #983
It looks like there is still missing functionality with the rest API.

https://github.com/Azure/azure-service-bus/issues/8

[2018-07-25 13:09] smoelker commented on #858
Are there any intentions to fully support the Azure Rest API any time soon? The ARM nor the ARM2 branch has been updated in the last two years.

[2018-07-26 18:21] znrk opened #984 "I found bug in function getGuid()."
I found bug in function getGuid.

mt_rand(0, 256),            // 8 bits  for "clock_seq_low"

clock_seq_low must be two-digits hex string, but when mt_rand() returns 256. it will be a three-digits  hex string (256 = 0x100).
With this don't generate correct GUID.
 eg; b4d8316b-36ef-4c9d-**85100**-17fe2ece51ba

please fix, changing mt_rand() max from 256 to 255.

same code wrotein following files;
a

[2018-08-01 12:07] dcruceanu opened #985 "Retrieving string type from table and received double"
I'm having a problem when retrieving some data from the azure table...

The inserted data is string (this type is also visible if I'm looking in Azure Storage explorer) and when I'm retrieving it makes automatically the Edm Type in **Double** (since the value of that column is 0.25). But this is not happening for integers, or other types like guids etc. I don't understand why...

I'm using in comp

[2018-08-14 16:45] Karrtojal opened #986 "warnings and fatal error in vodworkflow_drm_fairplay.php"
Executing the example vodworkflow_drm_fairplay.php with only set the parameters in userconfig.png this is the result:

[code]

Any idea the reason?
Thanks in advance.

[2018-09-24 15:59] smpilo commented on #733
With ACS being removed from support soon, we will be unable to use this SDK soon. Is there an alternative available or coming?

[2018-09-27 17:58] smpilo commented on #733
@salameer , @sergey-shandar

I just re-tested with the latest sdk and it works with shared access keys, so we are OK. You can probably close this issue.

[2018-10-05 03:59] mkasberg commented on #984
I was able to confirm the bug, and opened a pull request (#988) to fix it.

[2018-10-24 13:02] steinmr opened #992 "Support for SharedAccessSignature for Service Bus"
I have the need for connecting to Azure Service Bus using a SharedAccessSignature. As far as I can see, this is not possible with the current library.
I have written a proof of concept, but PHP is not my primary language, and I am wondering if someone can help me create the proper code to merge with the library (if that would be interesting).
The POC kind of hacks the current implementation, but i

[2018-12-03 22:30] #918 closed

[2019-01-25 03:32] YingChen-dci opened #994 "Does anyone know how to set Fairplay offline mode?"

[2019-02-19 14:14] Lotykun opened #995 "protocol https in service Bus Queue makes service too slow"
Hi experts.
I have recently download and installed the most updated version of the azure-sdk. (0.5.7), in order to connect with the Service Bus Queue System.

I have created one namespace and one queue from the azure portal and give me one connection string with the format.. Endpoint=sb://{endpoint}/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey={accesskey}

According to the instru

[2019-02-20 12:56] hill79 opened #996 "SSL issues with -sb.accesscontrol.windows.net URL (service bus)"
I had been using the sdk to pull messages from a number of Service Bus queues for over 12 months, but a few months ago the script started failing with the error below (where 'xxxxx' is our domain) which to me suggests an issue with the SSL certificate validation.

_"**Fatal error:** Uncaught GuzzleHttp\Exception\RequestException: cURL error 51: SSL: no alternative certificate subject name matches

[2019-02-20 20:47] kant2002 commented on #975
Any news in 2019 ?

[2019-02-25 20:57] ghainbach opened #997 "Support for Service Management - Start/Stop/Create VM’s via Image."
Looking for PHP support in Azure-SDK-for-PHP for Service Management - Start/Stop/Create VM’s via Azure Image.

[2019-02-26 18:06] smoelker commented on #997
Your best option is the [Azure REST api](https://docs.microsoft.com/en-us/rest/api/compute/) because this project seems to be dead.

[2019-04-10 15:05] hasc opened #998 "Support job input from http"
I can't find a way to create a job input from an HTTP URL. Is this a feature which is planned to be added?

[2019-07-05 06:27] Chettra7 commented on #812
How to get file image to view?

[2019-07-30 13:37] kawe commented on #975
Problem still exists - any solution? Do other php packages exist for managing the Mediaservices?

[2019-11-06 08:28] nuil commented on #983
Hi,

any news regarding this issue?

[2019-11-10 23:44] Shaked opened #1001 "Receive MessageCountDetails for a Subscription"
Hello,

I'm interested in receiving the `MessageCountDetails`  from your API, as I see that it is possible to do by using the [C# SDK](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.messagecountdetails?redirectedfrom=MSDN&view=azure-dotnet#Microsoft_ServiceBus_Messaging_MessageCountDetails_DeadLetterMessageCount))

Basically I'm trying to get the total count of dead let

[2019-11-11 15:01] Shaked commented on #1001
After contacting Azure's support, it seems like that the PHP SDK is not updated and is not using the latest API version.

The ideal solution should be something like:

`ServiceBusRestProxy.php`
[code]

Which will end up with a larger XML response:
[code]

Are you guys planning to upgrade this SDK at some point?

Thank you
Shaked

[2019-11-24 23:51] Shaked commented on #855
Hello,

It seems like this problem still occurs.

I am not sure why, but what I can tell by adding many logs, is that some requests never end.

My main assumption is because there is no way to define a `timeout`, `connect_timeout` and `read_timeout` (see http://docs.guzzlephp.org/en/stable/request-options.html#timeout for more).

I have added this currently under my own fork but I'm curious, why i

[2019-11-24 23:57] Shaked commented on #1001
Hello @sergey-shandar ,

Is this repository still under maintenance/development?

[2019-12-18 16:17] osteel commented on #975
The issue persists and is quite problematic.

I am trying to use the Service Bus queues here, and as my company decided to use Azure extensively I also need to use the API for Azure Storage.

The [Microsoft Azure Storage Library for PHP](https://github.com/azure/azure-storage-php) seems up to date and refers to the current package for Service Bus-related operations:

The [official documentation](h

[2019-12-24 10:19] webciter opened #1002 "unable to authenticate with openssl certificate for service management"
Message: Fail: Code: 403 Value: Forbidden details (if any): ForbiddenErrorThe server failed to authenticate the request. Verify that the certificate is valid and is associated with this subscription.., In File: laravel/vendor/microsoft/windowsazure/src/Common/Internal/Http/HttpClient.php, On Line: 405

openssl req -x509 -nodes -days 365 -newkey rsa:1024 -keyout mycert.pem -out mycert.pem
openssl x

[2020-06-18 16:59] amitagrawal124 opened #1004 "How to set content disposition for blob storage"
I am trying to upload the pdf file and trying to set the content-disposition inline to preview it on browser.

[2020-06-20 12:22] jsor commented on #975
A workaround is to have the following in your composer.json:

[code]

This prevents the `microsoft/azure-storage` package from being installed and fixes the `Ambiguous class resolution` warnings.

**Caution**: I haven't investigated any drawbacks in detail. In any case, be careful when using storage related classes from this SDK as it now might be using the classes from the `microsoft/azure-storag

[2020-08-28 10:43] JohnFF opened #1005 "Outdated packages"
When installing with composer, the following alarming messages appear.

Package container-interop/container-interop is abandoned, you should avoid using it. Use psr/container instead.
Package microsoft/azure-storage is abandoned, you should avoid using it. Use microsoft/azure-storage-blob;microsoft/azure-storage-queue;microsoft/azure-storage-table;microsoft/azure-storage-file instead.
Package zend

[2020-09-06 14:41] abdullah-abusall opened #1006 "Media Services REST API Version 3"
any plans on upgrading the SDK to work with the new API version?

[2020-09-11 10:03] Navi2016 commented on #1006
Wondering about this too, is this the only PHP lib to talk to the Azure API? Or are there any alternatives?

For example for creating a virtual machine, attaching storage, etc?

[2020-09-18 01:36] tanerkay commented on #1005
This bugged me too, so I made a fork for now. I'd make a PR but I don't know if it's production ready enough for everyone else, all I did was update the vendor packages.

https://github.com/tanerkay/azure-sdk-for-php

Relevant commit:
https://github.com/tanerkay/azure-sdk-for-php/commit/5a17732471439e977349cf946ffd9cc15297e2ae

Note: `container-interop/container-interop` being abandoned is not a w

[2020-09-25 12:32] Sopamo opened #1007 "Support for Guzzle 7"
As Laravel 8 only supports Guzzle 7 it's now becoming more difficult to use azure when using Laravel. This problem will become worse as more frameworks/developers adapt Guzzle 7.
Please support Guzzle 7, there are not a lot of breaking changes.

[2020-10-07 06:00] scriptyos opened #1008 "Warning in ServiceProperties.php"
Warning: count(): Parameter must be an array or an object that implements Countable in \vendor\microsoft\azure-storage-common\src\Common\Models\ServiceProperties.php on line 253

[2020-10-20 19:27] suhaboncukcu commented on #1007
I think it's already handled but not merged. Since the latest PR approval seems to be on 2018, I guess the repo is abandoned?

[2020-12-01 20:32] mzac opened #1010 "Cannot install on php:apache with php v8"
When building against the docker container php:apache which is now running php 8, I get the following errors:

[code]

As a workaround, I will be using the php:7.4-apache image

Also, there are still warnings about outdated packages:
[code]

[2020-12-11 10:09] kkuuko commented on #995
I’m facing the same problem. @Lotykun did you find a way to do it?

[2020-12-13 15:56] Lotykun commented on #995
Yes using AWS Simple Queue SErvice.. jejeje

[2021-01-14 03:30] tanerkay commented on #1010
see #1005

unfortunately it seems this package is abandoned.

[2021-01-22 23:38] amitsuneja commented on #1008
I am also getting same error.
PHP Warning:  count(): Parameter must be an array or an object that implements Countable in /var/www/html/vendor/microsoft/azure-storage-common/src/Common/Models/ServiceProperties.php on line 253

[2021-03-24 00:21] neosuke opened #1017 "cURL error 56"
I use OS:windows 10 and windows PHP 7.4.8
The following error occasionally occurs in "createBlockBlob"

---------------------------------------------------------------------------------
cURL error 56: OpenSSL SSL_read: Connection was reset, errno 10054 (see https://curl.haxx.se/libcurl/c/libcurl-errors.html)
---------------------------------------------------------------------------------

source

[2021-04-28 08:59] yuki-0310 opened #1018 "Regarding the Service Bus, if there are zero messages, what causes the process to take so long to complete using php code?"
[Contents]
When the Service Bus receiving process is executed based on the following reference material, it takes about 6 seconds to complete the execution when the message to be received is 0.
If the message to be received is 0, it takes about 6 seconds to complete the process. If the message is 1 or more, it takes about 1 second to complete the process.
We have obtained and checked the network t

[2021-06-17 05:25] #984 closed

[2021-07-27 20:45] darmen commented on #933
Just in case if anyone is interested – here is the WIP client for Face API – https://github.com/darmen/php-azure-face-api-client

[2021-08-18 15:41] tomb-yellowgrid commented on #1018
F

[2021-12-04 22:45] askinkilic opened #1020 "TT"

[2021-12-04 22:45] #1020 closed

[2021-12-30 13:29] ramalingam07 opened #1021 "Error 400 Bad Request details"
I tested all examples & will go to 400 error only. Sample to what I tested code,
[/azure-sdk-for-php-master/examples/MediaServices/analyticsworkflow_indexer.php](url)

**My error:**
[code]
Please advice!

[2022-03-21 16:26] ziodave commented on #726
Downgrading to 0.4 worked for me, not the best of the solutions I know ...

composer.json:
[code]